@model UI.Models.Record.f21Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Jednotka odpovědi");
}
@addTagHelper *, UI


<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.f21Name" />
            <span asp-validation-for="Rec.f21Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            ID: <span>@(Model.Rec.pid)</span>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("STAT ID"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.f21ExportValue" />
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.f21Ordinal" decimal-digits="0"></mynumber>
        </div>

    </div>
    <div class="row my-2">
        <div class="col-sm-4 col-md-4">
            <input type="checkbox" asp-for="Rec.f21IsCommentAllowed" />
            <label class="col-form-label" for="Rec_f21IsCommentAllowed">@_f.tra("Povolit komentování odpovědi")</label>
        </div>

    </div>
    <div class="row my-2">
        <div class="col-sm-4 col-md-4">
            <input type="checkbox" asp-for="Rec.f21IsNegation" />
            <label class="col-form-label" for="Rec_f21IsNegation">@_f.tra("Negovat ostatní jednotky odpovědi [CHECKBOXLIST]")</label>
        </div>
    </div>

    <div class="row my-2">
        <textarea asp-for="Rec.f21Description" class="form-control" placeholder="@_f.tra("Podrobný popis")"></textarea>
        <span asp-validation-for="Rec.f21Description" class="text-danger"></span>
    </div>

    @if (Model.rec_pid > 0)
    {
        <div class="card">
            <div class="card-header">@_f.tra("Využití jednotky v šablonách jednotek")</div>
            <div class="card-body">
                @foreach (var c in Model.lisF22)
                {
                    <div>
                        <a href="/f22/Record?pid=@c.pid">@c.f22Name</a>
                    </div>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">@_f.tra("Využití jednotky ve formulářových otázkách")</div>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    @foreach (var c in Model.lisF19)
                    {
                        <tr>
                            <td>
                                <a href="/f19/Record?pid=@c.pid">@(c.f19Name)</a>
                            </td>
                            <td>
                                @c.pid
                            </td>
                            <td>
                                @c.f23Name
                            </td>
                            <td>
                                @c.x24Name
                            </td>
                            <td>
                                @c.f18Name
                            </td>
                            <td>
                                @c.f06Name
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    }


</div>

