@model UI.Models.Record.j11Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Tým osob");
}
@addTagHelper *, UI

<input type="hidden" id="hidJ02IDs" asp-for="@Model.j02IDs" />

<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.j11Name" />
            <span asp-validation-for="Rec.j11Name" class="text-danger"></span>
        </div>
    </div>





    <div class="row my-2">
        <textarea asp-for="Rec.j11Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
        <span asp-validation-for="Rec.j11Description" class="text-danger"></span>
    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat člena týmu"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j02Person" asp-for="@Model.SelectedJ02ID" selectedtext="@Model.SelectedPerson" filter-flag="1" placeholder="@_f.tra("Vybrat osobní profil")..." event_after_changevalue="handle_j02id_append"></mycombo>
        </div>

    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat členy podle kraje"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a05Region" asp-for="@Model.SelectedA05ID" selectedtext="@Model.SelectedRegion" placeholder="@_f.tra("Vybrat kraj")..." event_after_changevalue="handle_a05id_append"></mycombo>
        </div>

    </div>
    <button type="button" id="cmdGrid" class="btn btn-secondary btn-sm" onclick="multiselect()">@_f.tra("Přidat hromadně přes Grid")</button>

    <button type="button" id="cmdRemoveSelected" class="btn btn-warning btn-sm" onclick="handle_remove_selected()">@_f.tra("Odebrat vybrané")</button>
    <button type="button" id="cmdClear" class="btn btn-danger btn-sm" onclick="clear_all()">@_f.tra("Odebrat vše")</button>
    <button type="button" id="cmdRemoveClosed" class="btn btn-danger btn-sm" onclick="handle_remove_closed()">@_f.tra("Odebrat neplatné")</button>
</div>


<vc:the-grid input="@Model.gridinput"></vc:the-grid>

<script type="text/javascript">
    $(document).ready(function () {

        tg_adjust_for_screen();

    });

    function handle_j02id_append(j02id) {
        if (j02id == "") {
            _notify_message("Musíte vybrat osobu.");
            return;
        }
        var j02ids = [];
        if ($("#hidJ02IDs").val() != "") j02ids = $("#hidJ02IDs").val().split(",");
        if (j02ids.includes(j02id)) {
            _notify_message("@_f.tra("Tato osoba již je v seznamu.")", "info");
            return;
        }
        j02ids.push(j02id);
        $("#hidJ02IDs").val(j02ids.join(","));
        postback();

    }
    function handle_j02id_delete(j02id) {
        var j02ids = [];
        j02ids = $("#hidJ02IDs").val().split(",");
        var x = j02ids.indexOf(j02id.toString());
        j02ids.splice(x, 1);

        $("#hidJ02IDs").val(j02ids.join(","));
        postback();
       

    }

    function handle_a05id_append(a05id) {
        if (a05id == "") {
            _notify_message("Musíte vybrat kraj.");
            return;
        }
        var j02ids = [];
        if ($("#hidJ02IDs").val() != "") j02ids = $("#hidJ02IDs").val().split(",");

        $.post("/j11/GetJ02IDsByRegion", { a05id: a05id }, function (data) {
            j02ids.push(data);
            $("#hidJ02IDs").val(j02ids.join(","));
            postback();
        });




    }

    

    function postback() {
        form1.action = "/j11/Record?oper=postback";
        form1.submit();
    }

   

    function clear_all() {
        $("#hidJ02IDs").val("");        
        postback();
    }
    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=j02");
    }

    function handle_remove_selected() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message(_tg_musite_vybrat_zaznam);
            return;
        }
        var selids = [];
        var allids = [];
        allids = $("#hidJ02IDs").val().split(",");
        selids = pids.split(",");

        var x = -1;

        for (i = 0; i < selids.length; i++) {
            x = allids.indexOf(selids[i].toString());
            allids.splice(x, 1);
        }

        $("#hidJ02IDs").val(allids.join(","));
        postback()

    }

    function handle_remove_closed() {
        $.post("/j11/RemoveClosed", { j02ids: $("#hidJ02IDs").val() }, function (data) {
            $("#hidJ02IDs").val(data);
            postback();
        });

    }

</script>

