@model UI.Models.a38TimelineViewModel
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Rezervace neperzonálních zdrojů");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";


    string strClass = "work-day";
    int x = 0;

}

@addTagHelper *, UI
<link rel="stylesheet" href="~/css/tabcapacity.css" />



<div class="bg-light form-row">
    <div class="col-auto" style="vertical-align:baseline;">
        <h5>Stav rezervací</h5>
    </div>
    <div class="col-sm-2 col-md-2 btn-group">
        <select asp-for="@Model.CurYear" class="form-control" onchange="goyear(this)">
            @foreach (var y in Model.lisYears)
            {
                <option value="@y">@y</option>
            }
        </select>
        <select asp-for="@Model.CurMonth" class="form-control" onchange="gomonth(this)">
            <option value="1">@_f.tra("Leden")</option>
            <option value="2">@_f.tra("Únor")</option>
            <option value="3">@_f.tra("Březen")</option>
            <option value="4">@_f.tra("Duben")</option>
            <option value="5">@_f.tra("Květen")</option>
            <option value="6">@_f.tra("Červen")</option>
            <option value="7">@_f.tra("Červenec")</option>
            <option value="8">@_f.tra("Srpen")</option>
            <option value="9">@_f.tra("Září")</option>
            <option value="10">@_f.tra("Říjen")</option>
            <option value="11">@_f.tra("Listopad")</option>
            <option value="12">@_f.tra("Prosinec")</option>
        </select>
        <button type="button" class="btn btn-secondary btn-sm" title="@_f.tra("Předchozí měsíc")" onclick="goprev()">←</button>
        <strong class="val-readonly" style="width:200px;text-align:center;">@(Model.CurMonth.ToString()+" - "+Model.CurYear.ToString())</strong>
        <button type="button" class="btn btn-secondary btn-sm" title="@_f.tra("Následující měsíc")" onclick="gonext()">→</button>
    </div>

    <div class="col-sm-1 col-md-1">
        <mycombo entity="a05Region" asp-for="@Model.a05ID" selectedtext="@Model.a05Name" view-flag="2" event_after_changevalue="change_a05id" placeholder="@_f.tra("Kraj")"></mycombo>
    </div>

    <div class="col-sm-1 col-md-1">
        <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light" style="margin-left:100px;">@_f.tra("Zavřít")</button>
        <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
    </div>


</div>


<table class="tableCapacity" cellpadding="0" cellspacing="0" style="overflow-x:auto;width:@(Model.lisDays.Count()*20+160)px;">

    <tr>
        <td class="firstcol_timeline">
        </td>
        <td></td>
        <td class="timeline_dny">@_f.tra("Dní")</td>
        <td class="timeline_dny">@_f.tra("Akcí")</td>
        @foreach (DateTime d in Model.lisDays)
        {
            strClass = "work-day";
            if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
            {
                strClass = "nonwork-day";
            }
            if (Model.lisJ26.Where(p => p.j26Date == d).Count() > 0)
            {
                strClass = "holiday";
            }

            <td class="@strClass">
                @d.Day
                <br />
                @(BO.BAS.ObjectDate2String(d,"ddd"))
            </td>
        }

    </tr>

    @foreach (var recJ23 in Model.lisJ23)
    {
        <tr>
            <td>
                @if (Model.lisTimeLine.Where(p => p.j23ID == recJ23.pid).Count() > 0)
                {
                    <span>
                        @recJ23.NamePlusCode
                    </span>

                }


            </td>
            <td>
                <a class="reczoom" data-rel="/j23/InfoCapacity?pid=@(recJ23.pid)&hover_by_reczoom=1&m=@Model.CurMonth&y=@Model.CurYear" data-maxwidth="1" style="visibility:visible!important;">ℹ</a>
            </td>
            @if (Model.lisTimeLine.Where(p => p.j23ID == recJ23.pid).Count() > 0)
            {
                <td class="timeline_dny">
                    @(Model.lisTimeLine.Where(p => p.j23ID == recJ23.pid).Count())d
                </td>
                <td class="timeline_dny">
                    [
                    @(Model.lisTimeLine.Where(p => p.j23ID == recJ23.pid).Select(p=>p.a01ID).Distinct().Count())
                    ]
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }


            @foreach (DateTime d in Model.lisDays)
            {
                strClass = "";
                if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
                {
                    strClass = "nonwork-day";
                }
                <td class="@strClass">
                    @{
                        x = Model.lisTimeLine.Where(p => p.j23ID == recJ23.pid && p.a38PlanDate == d).Count();
                    }
                    @if (x > 0)
                    {
                        <div class="a38cellbig">
                            @if (x > 1)
                            {
                                <span style="background-color:pink;padding-left:2px;padding-right:2px;">@x</span>
                            }
                        </div>
                    }




                </td>
            }
        </tr>
    }




</table>




<script type="text/javascript">
    var _a05id = "@Model.a05ID";

    $(document).ready(function () {


        $("#CurYear").val("@Model.CurYear");
        $("#CurMonth").val("@Model.CurMonth");

        if (window === top || window.parent.document.getElementById("fraA38")) {
            $("#cmdClose").css("display", "none");
        }


    });



    function goyear(ctl) {
        var year = ctl.value;
        refresh("/a38/TimeLine?go2month=@Model.CurMonth&go2year=" + year + "&a05id=" + _a05id);
    }
    function gomonth(ctl) {
        var month = ctl.value;
        refresh("/a38/TimeLine?go2month="+month+"&go2year=@Model.CurYear&a05id="+_a05id);
    }
    function gonext() {
        refresh("/a38/TimeLine?go2month=@Model.NextMonth&go2year=@Model.NextYear&a05id="+_a05id);
    }
    function goprev() {
        refresh("/a38/TimeLine?go2month=@Model.PrevMonth&go2year=@Model.PrevYear&a05id="+_a05id);
    }
    function change_a05id(a05id) {
        $.post("/Common/SetUserParam", { key: "a38TimeLine-a05ID",value:a05id }, function (data) {
            refresh("/a38/TimeLine?a05id="+a05id);

            });

    }


    function refresh(url) {
        _notify_message("Loading...", "info");
        location.replace(url);
    }



</script>