@model UI.Models.Recpage.x51RecPage
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Nápověda");
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";

}

@addTagHelper *, UI

<div class="bg-light">
    @if (Model.Rec != null)
    {

        <div style="padding:10px;">
            <h4>@Model.Rec.x51Name</h4>
            <div>
                <i>
                    @Model.InputViewUrl
                </i>

                @if (_f.CurrentUser.TestPermission(BO.j05PermValuEnum.AdminGlobal_Ciselniky))
                {

                    <a class="btn btn-primary" style="margin-left:20px;" href="/x51/Record?source=helppage&pid=@(Model.Rec.pid)">@_f.tra("Upravit")</a>

                }
                <a class="btn btn-light" style="margin-left:20px;" href="/x51/Index?listflag=1&viewurl=@Model.InputViewUrl">@_f.tra("Rejstřík")</a>
            </div>
        </div>

    }
    else
    {
        <div class="bg-light">
            <div class="row">
                <div class="col">
                    <h4>@Model.InputViewUrl</h4>

                </div>
                <div class="col">
                    <code>@Model.PageTitle</code>
                </div>
                <div class="col">
                    @if (_f.CurrentUser.TestPermission(BO.j05PermValuEnum.AdminGlobal_Ciselniky))
                    {
                        <a class="btn btn-primary" href="/x51/Record?source=helppage&pid=0&viewurl=@Model.InputViewUrl&pagetitle=@Model.PageTitle">@_f.tra("Založit záznam nápovědy")</a>

                    }
                </div>
            </div>


        </div>


    }

</div>


@if (Model.lisNear != null)
{
    <div class="row">
        <div class="col-sm-9 col-md-9">
            @if (Model.Rec != null)
            {
                @Html.Raw(Model.HtmlContent)
                
            }

        </div>
        <div class="col-sm-3 col-md-3">
            @foreach (var c in Model.lisNear)
            {
            <div title="@(@c.UserInsert+"/"+BO.BAS.ObjectDateTime2String(c.DateInsert))">

                @if (Model.Rec != null && c.pid == Model.Rec.pid)
                {
                    
                    <a class="nav-link selected" href="/x51/Index?listflag=@Model.NearListFlag&viewurl=@c.x51ViewUrl"><img src="~/images/bullet6.gif" />@c.x51Name</a>
                }
                else
                {
                    <a class="nav-link" href="/x51/Index?listflag=@Model.NearListFlag&viewurl=@c.x51ViewUrl"><img src="~/images/bullet6.gif" />@c.x51Name</a>
                }

            </div>
            }
        </div>
    </div>
    


}
else
{
    @if (Model.Rec != null)
    {
        @Html.Raw(Model.HtmlContent)
        
    }
}


