@model UI.Models.Recpage.j23InfoCapacity
@inject BL.Factory _f

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

<div class="modal_record_container">
    <div class="form-row">

        <div class="col-sm-3 col-md-2">
            <myval value="@Model.Rec.j23Name"></myval>

        </div>
        <div class="col-sm-1 col-md-1">
            <myval value="@Model.Rec.j23Code"></myval>

        </div>
        <div class="col-sm-2 col-md-2">

            <myval value="@(Model.Rec.j24Name)"></myval>

        </div>
        <div class="col-sm-2 col-md-2">

            <myval value="@(Model.Rec.a05Name)"></myval>

        </div>

        @if (_f.CurrentUser.TestPermission(BO.PermValueEnum.AdminGlobal_Ciselniky))
        {
            <div class="colsm-2 col-md-2">
                <a href="javascript:_window_open('/j23/Record?pid=@(Model.pid)')">@_f.tra("Administrace")</a>
            </div>
        }

    </div>

    @Html.Raw(Model.TagHtml)
</div>
@if (Model.lisA01 != null)
{
    <table class="table table-striped table-sm table-hover" style="margin-top:10px;">
        <tr style="background-color:silver;">
            <th>@_f.tra("Akce")</th>
            <th>@_f.tra("Typ")</th>
            <th>@_f.tra("Období")</th>
            <th>@_f.tra("Téma")</th>
            <th>@_f.tra("Stav")</th>
            <th style="width:15px;"></th>
            <th>@_f.tra("Instituce")</th>

        </tr>
        <tbody>
            @foreach (var c in Model.lisA01)
            {
                <tr>
                    <td>
                        <a target="_blank" href="/a01/RecPage?pid=@c.a01ID">@c.a01Signature</a>
                        @foreach (var recA38 in Model.lisA38.Where(p => p.a01ID == c.pid).GroupBy(p => p.a38PlanDate))
                        {
                    <div>
                        <span style="color:orangered">
                            @(BO.BAS.ObjectDate2String(recA38.First().a38PlanDate))
                        </span>
                        <span style="background-color:darkviolet;color:white;">
                            @(string.Join(",",recA38.Where(p=>p.a38IsDriver==true).Select(p => p.PersonAsc)))
                        </span>
                        @(string.Join(" + ",recA38.Where(p=>p.a38IsDriver==false).Select(p => p.PersonAsc)))
                        
                    </div>
                        }
                    </td>
                    <td>
                        @c.a10Name
                    </td>
                    <td style="color:red;">
                        @(BO.BAS.ObjectDate2String(c.a01DateFrom)+" - "+ BO.BAS.ObjectDate2String(c.a01DateUntil))
                    </td>
                    <td>
                        @c.a08Name
                    </td>
                    <td>
                        @c.b02Name
                    </td>
                    <td style="background-color:#@c.b02Color">
                        &nbsp;
                    </td>
                    <td>
                        <a target="_blank" href="/a03/RecPage?pid=@c.a03ID">@(BO.BAS.OM2(c.a03REDIZO+" - "+c.a03Name,50))</a>

                    </td>
                </tr>


            }
        </tbody>
    </table>


}
