@model a03Import
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";



    ViewData["Title"] = "Import";



}


@addTagHelper *,UI

<h4>Datový import záznamů institucí</h4>
@if (string.IsNullOrEmpty(Model.FileNameOrig) == false)
{
    <a href="/FileUpload/FileDownloadTempFile?tempfilename=@Model.FileName" target="_blank">@Model.FileNameOrig</a>
}
<form id="form1" asp-controller="import" asp-action="a03" method="POST">
    <div class="bg-light" style="padding:10px;">
        <div class="row">
            <div class="col-auto">
                @if (string.IsNullOrEmpty(Model.FileName) == false)
                {
                    <button id="cmdRunImport" type="button" class="btn btn-success">@_f.tra("Pokračovat")</button>
                }

                <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
            </div>

            <div class="col-3">
                <mydropdown asp-for="@Model.SelectedJ75ID" datasource="@Model.lisJ75" IsFirstEmptyRow="true" firstemptyrowtext="@_f.tra("Pojmenovaná import šablona")" valuefield="pid" textfield="j75Name" event_after_changevalue="j75id_onchange"></mydropdown>
            </div>
            @if (!string.IsNullOrEmpty(Model.SelectedJ75ID))
            {
                <div class="col-auto">
                    <button type="button" class="btn btn-success" onclick="savechanges()">@_f.tra("Uložit změny")</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" onclick="deletetemplate()">@_f.tra("Odstranit šablonu")</button>
                </div>
            }

            <div class="col-auto">
                <button type="button" class="btn btn-info" onclick="createtemplate()">@_f.tra("Uložit jako novou šablonu")</button>
            </div>
        </div>



    </div>


    <table>
        <tr>
            <td>
                @_f.tra("Sešit"):
            </td>
            <td>
                <mydropdown asp-for="@Model.SelectedSheet" datasource="@Model.Sheets" valuefield="Key" textfield="Value" event_after_changevalue="sheet_onchange"></mydropdown>
            </td>
            <td>
                @_f.tra("Typ instituce"):
            </td>
            <td>
                <select asp-for="@Model.SelectedA06ID" class="form-select">
                    <option value="1">@_f.tra("Škola")</option>
                    <option value="2">@_f.tra("Zřizovatel")</option>
                    <option value="3">@_f.tra("Dohledový orgán")</option>
                </select>
            </td>
            <td>
                @_f.tra("Zahájit import od řádku"):
            </td>
            <td style="max-width:60px;">
                <select asp-for="@Model.StartRow" class="form-select" onchange="startrow_change()">
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

            </td>

            <td>
                @_f.tra("do řádku"):
            </td>
            <td style="max-width:80px;">
                <mynumber asp-for="@Model.EndRow" decimal-digits="0"></mynumber>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-light" onclick="startrow_change()">@_f.tra("Obnovit")</button>
            </td>
        </tr>
    </table>


    <table class="table table-sm table-hover">
        @for (int i = 0; i <= Model.MapCols.Count - 1; i++)
        {
            <tr style="@Model.MapCols[i].CssTrStyle">

                <td style="width:30px;">
                    <span>@("#"+Model.MapCols[i].Index.ToString())</span>
                    <input type="hidden" asp-for="@Model.MapCols[i].Index" />
                </td>
                <td style="width:10px;">
                    <input type="checkbox" id="@("chk"+Model.MapCols[i].Index.ToString())" asp-for="@Model.MapCols[i].IsChecked" />
                </td>
                <td>
                    <label for="@("chk"+Model.MapCols[i].Index.ToString())">
                        @Model.MapCols[i].Name
                    </label>
                    <input type="hidden" asp-for="@Model.MapCols[i].Name" />
                </td>
                <td>
                    <select class="form-select" asp-for="@Model.MapCols[i].TargetField">
                        <option value="">@_f.tra("Namapovat sloupec")</option>
                        <option value="a03REDIZO">REDIZO</option>
                        <option value="a03REDIZO_Parent">Nadřízené REDIZO</option>
                        <option value="a03ParentFlag">Příznak nadřízenosti (0/1/2)</option>
                        <option value="a03REDIZO_Supervisory">Dohledový subjekt (REDIZO)</option>
                        <option value="a03Name_Supervisory">Dohledový subjekt (Název)</option>
                        <option value="a03FounderCode">Kód zřizovatele</option>
                        <option value="bind_a03FounderCode">Vazba na zřizovatele přes jeho kód</option>
                        <option value="a03ICO">IČ</option>
                        <option value="a03Name">Název</option>
                        <option value="a03ShortName">Zkrácený název</option>
                        <option value="a03City">Obec</option>
                        <option value="a03Street">Ulice</option>
                        <option value="a03PostCode">PSČ</option>
                        <option value="a03Phone">Pevný Tel.</option>
                        <option value="a03Mobile">Mobil</option>
                        <option value="a03Fax">FAX</option>
                        <option value="a03Web">WWW</option>
                        <option value="a03Email">E-mail</option>
                        <option value="a21Code">Právní forma (kód)</option>
                        <option value="a05RZCode">Kraj (RZ kód)</option>
                        <option value="a05Name">Kraj (Název)</option>
                        <option value="a09UIVCode">Typ zřizovatele (UIV kód)</option>
                        <option value="a09Name">Typ zřizovatele (název)</option>
                        <option value="a09ID">Typ zřizovatele (a09ID)</option>
                        <option value="a28Code">Typ školy (kód)</option>
                        <option value="a28Name">Typ školy (název)</option>
                        <option value="a03ValidFrom">Platné od</option>
                        <option value="a03ValidUntil">Platné do</option>
                        <option value="a03DirectorFullName">Jméno ředitele</option>
                    </select>
                </td>
            </tr>
        }
    </table>
    <input type="hidden" asp-for="@Model.FileName" />
    <input type="hidden" asp-for="@Model.FileNameOrig" />
    <input type="hidden" asp-for="@Model.Guid" />    
    <input type="hidden" asp-for="@Model.GuidMapping" value="@Model.GuidMapping" />
    <input type="hidden" asp-for="@Model.HeadersRow" />
</form>



<script type="text/javascript">
    $(document).ready(function () {

        $("#cmdRunImport").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.action = "/import/a03?oper=runimport" + get_ocas();
            form1.submit();

        });



    });

    function get_ocas() {
        return "&guid=@Model.Guid&filename=@Model.FileName";
    }
    function sheet_onchange(sheetname) {
        form1.action = "/import/a03?oper=changesheet" + get_ocas();
        form1.submit();
    }
    function j75id_onchange(cbx) {
        if ($.isNumeric(cbx.value)==false) {
            return
        }
        location.replace("/import/a03?j75id=" + cbx.value + get_ocas());
        //form1.action = "/import/a03?oper=selecttemplate";
        //form1.submit();

    }
    function createtemplate() {
        var s = prompt("@_f.tra("Zadejte název šablony")");
        if (s != null && s != "") {
            form1.action = "/import/a03?oper=createtemplate&j75name=" + s + get_ocas();
            form1.submit();
        }
    }

    function savechanges() {
        form1.action = "/import/a03?oper=savechanges" + get_ocas();
        form1.submit();
    }

    function startrow_change() {
        form1.action = "/import/a03?oper=startrow" + get_ocas();
        form1.submit();
    }

    function deletetemplate (){
       if (confirm("@_f.tra("Opravdu nenávratně odstranit tuto šablonu?")")) {

           form1.action = "/import/a03?oper=deletetemplate" + get_ocas();
           form1.submit();
            }
    }

</script>