@model AdminPage
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Uživatelé");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI



@if (Model.view == "tree")
{
    @section header_content{

        <link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
    }

    <script src="/kendo/js/kendo.core.min.js"></script>

    <script src="/kendo/js/kendo.data.min.js"></script>
    <script src="/kendo/js/kendo.treeview.min.js"></script>

    <style type="text/css">

        #tree1 img {
            margin-right: 5px;
            margin-left: 3px;
            vertical-align: baseline;
        }

        #tree1 .cm {
            margin-left: 10px;
        }
    </style>
}

<div class="row py-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'Forms',0,'@Model.prefix');">☰@_f.tra("Formuláře")</a>
        <h4 id="layout_sidebar_contextmenu_onlytext">@_f.tra("Formuláře")</h4>
    </div>
    <div class="col-auto pl-0">
        <ul class="nav nav-tabs" style="border:none;">
            <li class="nav-item onetab">
                <a class="nav-link active" data-toggle="tab">@Model.entityTitle</a>
            </li>
        </ul>
    </div>

    @if (Model.prefix != null)
    {
        <div class="col-auto">
            <button id="cmdNew" type="button" class="btn btn-primary">@_f.tra("Nový záznam")</button>
        </div>
    }


    <div class="col-auto">
        @if (Model.prefix == "f12")
        {
            @if (Model.view == "tree")
            {
                <a class="btn btn-info" href="/Admin/Forms?prefix=@Model.prefix&view=grid">@_f.tra("Přepnout na Grid")</a>
            }
            else
            {
                <a class="btn btn-info" href="/Admin/Forms?prefix=@Model.prefix&view=tree">@_f.tra("Přepnout na Strom")</a>
            }
        }
    </div>
    <div class="nonmobile nontablet">
        <a class="btn btn-light" href="/Admin/Ciselniky?prefix=@Model.prefix" title="@_f.tra("Občerstvit")"><img src="~/images/refresh.png" /></a>
    </div>




</div>

<div id="layout_sidebar" class="cm_recpage" style="overflow-y:auto;"></div>



<div id="layout_main">

    @if (Model.view == "tree")
    {


        <kendotree clientid="tree1" tree-datasource="@Model.treeNodes"></kendotree>
    }
    else
    {
        @if (Model.entity != null)
        {
            <vc:the-grid entity="@Model.entity" j72id="0" go2pid="@Model.go2pid" master_entity="" master_pid="0" contextmenuflag="1" ondblclick="tg_dblclick" master_flag="@Model.master_flag" masterviewflag="3" addfilterid="" fixedcolumns=""></vc:the-grid>
        }
        else
        {
            <h4 style="margin:20px;">@_f.tra("Administrace formulářů")</h4>
        }
    }




</div>


<script type="text/javascript">
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {
        @if (Model.view == "tree")
        {
        <text>
        $("#tree1").kendoTreeView(
            {
                dataSource: dstree1,
                template: "<a class='cm' onclick='_cm(event,\"#: item.prefix #\",#: item.recordid #)'>☰</a><span ondblclick='_edit(\"#: item.prefix #\",#: item.recordid #)'> #: item.text # </span>"
            }
        );
        </text>
        }
        $("#cmdNew").click(function () {
                var prefix = "@Model.prefix";
                var url = "/"+prefix+"/Record?pid=0";
                _window_open(url,1,"@Model.entityTitle");
            });

        $.post("/Menu/AdminForms", { prefix: "@Model.prefix" }, function (data) {

            $("#layout_sidebar").html(data);

                if (document.getElementById("menu_active_item")) {
                    document.getElementById("menu_active_item").scrollIntoView(true);
                }



            });



            _mainmenu_highlight_current("cmdAdmin");


            var offset = $("#layout_sidebar").offset();
            var h_vertical = _device.innerHeight - offset.top;
            h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");


        });


    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }


</script>
