@model AdminPage
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Workflow návrhář");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI


    <div class="row py-1 bg-light m-0">
        <div id="layout_sidebar_contextmenu">
            <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'Workflow',0,'@Model.prefix');">☰@_f.tra("Workflow")</a>
            <h4 id="layout_sidebar_contextmenu_onlytext">@_f.tra("Workflow")</h4>
        </div>
        <div class="pl-0">
            <ul class="nav nav-tabs" style="border:none;">
                <li class="nav-item onetab">
                    <a class="nav-link active" data-toggle="tab">@Model.entityTitle</a>
                </li>
            </ul>
        </div>
        <div class="nonmobile ml-2">
            <a class="btn btn-light" href="/Admin/Workflow?prefix=@Model.prefix" title="@_f.tra("Občerstvit")"><img src="~/images/refresh.png" /></a>
        </div>


        @if (_f.CurrentUser.TestPermission(BO.j05PermValuEnum.WorkflowDesigner))
        {
            <div class="ml-2">
                <button id="cmdNew" type="button" onclick="b01_new()" class="btn btn-primary">@_f.tra("Nová šablona")</button>
            </div>
        }








    </div>

<div id="layout_sidebar" class="cm_recpage" style="overflow-y:auto;"></div>



<div id="layout_main">

    @if (Model.entity != null)
    {
        <vc:the-grid entity="@Model.entity" j72id="0" go2pid="@Model.go2pid" master_entity="" master_pid="0" contextmenuflag="1" ondblclick="tg_dblclick" master_flag="@Model.master_flag" masterviewflag="3" addfilterid="" fixedcolumns=""></vc:the-grid>
    }
    else
    {
        <h4 style="margin:20px;">@_f.tra("Workflow návrhář")</h4>
    }




</div>


<script type="text/javascript">
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {

        $.post("/Menu/AdminWorkflow", { prefix: "@Model.prefix" }, function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });



        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");


    });


    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }


    function b01_new() {
         _window_open("/b01/Record",1);
    }

</script>

