@model a01AddAttachment
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Nahrát přílohu");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI

<h4>@_f.tra("Nahrát přílohu do akce") @(": "+Model.RecA01.a01Signature)</h4>
<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="button" class="btn btn-success" onclick="save()">@_f.tra("Uložit změny")</button>
    <button id="cmdClose" type="button" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
</div>

<form id="form1" asp-controller="a01" asp-action="AddAttachment" method="POST">
    <input type="hidden" asp-for="@Model.a01id" />
    <div class="modal_record_container">
        <div class="alert alert-primary" role="alert">
            <label style="font-weight:bold;">@_f.tra("Typ akce"):</label>
            @Model.RecA01.a10Name
            <label style="font-weight:bold;margin-left:20px;">@_f.tra("Téma akce"):</label>
            @Model.RecA01.a08Name
            <label style="font-weight:bold;margin-left:20px;">@(Model.RecA01.a06Name+":")</label>
            @Model.RecA01.a03Name
        </div>



        <iframe id="fraUpload" src="/FileUpload/Index?x29id=101&guid=@Model.UploadGuid" height="250" scrolling="no"></iframe>
    </div>


</form>


<script type="text/javascript">
    $(document).ready(function () {





    });

    
    function save() {

        form1.submit();

    }

</script>
