@model a01AddAttachment
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Nahrát přílohu");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI

<h4>@_f.tra("Nahrát přílohu do akce") @(": "+Model.RecA01.a01Signature)</h4>
<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="button" class="btn btn-success">@_f.tra("Uložit změny")</button>
    <button id="cmdClose" type="button" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
</div>

<form id="form1" asp-controller="a01" asp-action="AddAttachment" method="POST">
    <input type="hidden" asp-for="@Model.a01id" />
    <input type="hidden" asp-for="@Model.UploadGuid" />
    <div class="modal_record_container">
        <div class="alert alert-primary" role="alert">
            <label style="font-weight:bold;">@_f.tra("Typ akce"):</label>
            @Model.RecA01.a10Name
            <label style="font-weight:bold;margin-left:20px;">@_f.tra("Téma akce"):</label>
            @Model.RecA01.a08Name
            <label style="font-weight:bold;margin-left:20px;">@(Model.RecA01.a06Name+":")</label>
            @Model.RecA01.a03Name
        </div>



        <iframe id="fraUpload" src="/FileUpload/Index?x29id=101&guid=@Model.UploadGuid" scrolling="yes"></iframe>
    </div>


</form>


<script type="text/javascript">
    $(document).ready(function () {

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();

        });


        var offset = $("#fraUpload").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) - 20;    
        if (_device.type === "Phone") {
            h_vertical = 400;
        }
        $("#fraUpload").css("height", h_vertical + "px");
        

    });

    
   

</script>
