@model UI.Models.Record.a01Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Upravit základní vlastnosti akce");
}
@addTagHelper *, UI


<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Akce"):</label>
        <div class="col-sm-11 col-md-10">
            <myval value="@Model.Rec.a01Signature"></myval>
        </div>


    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Typ akce"):</label>
        <div class="col-sm-11 col-md-10">
            <myval value="@Model.Rec.a10Name"></myval>
        </div>


    </div>

    <div class="row  my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Téma akce"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a08Theme" asp-for="Rec.a08ID" selectedtext="Rec.a08Name" view-flag="2"></mycombo>
        </div>

    </div>
    @if (Model.RecA10.a10IsUse_Name)
    {
        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
            <div class="col-sm-11 col-md-10">
                <input type="text" asp-for="Rec.a01Name" class="form-control" />
            </div>


        </div>
    }
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Instituce"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a03Institution" asp-for="Rec.a03ID" selectedtext="Rec.a03Name" filter-flag="1"></mycombo>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Spis"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.a01CaseCode" />

        </div>


    </div>
    <mystitky entity="a01Event" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml" buttontext="@_f.tra("Zatřídit do kategorií")"></mystitky>



</div>


<input type="hidden" asp-for="@Model.a10ID" />