@model UI.Models.Tab.a01TabAttachments
@inject BL.Factory _f

@{
    ViewData["Title"] = "Přílohy";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";


}
@addTagHelper *, UI

<div id="subform_div_commands">

    <button type="button" class="btn btn-primary" onclick="append()">@_f.tra("Nahrát přílohu")</button>

</div>

<table class="table table-sm table-hover" style="min-width:800px;">

    @foreach (var c in Model.lisO27)
    {
    <tr>
        <td style="width:20px;">            
            <a class="cm" onclick="_cm(event, 'o27' ,@c.pid)">☰</a>
        </td>
        <td>
            @c.o13Name
        </td>

        <td>
            <a target="_blank" href="/FileUpload/FileDownloadInline?downloadguid=@c.o27DownloadGUID">@c.o27OriginalFileName</a>
        </td>
        <td>
            @(BO.BAS.FormatFileSize(c.o27FileSize))
        </td>
        <td style="font-style:italic;">
            @c.o27Label
            @if(c.o27Description != null)
            {
                <pre>@c.o27Description</pre>
            }           
        </td>
        <td>
            @c.o27PressMark
        </td>
        <td>
            @(c.UserInsert+"/"+BO.BAS.ObjectDateTime2String(c.DateInsert))
        </td>
    </tr>
    }
</table>

<script type="text/javascript">
    function append() {
        _window_open("/a01/AddAttachment?pid=@Model.pid");
    }


    function changelabel(fileguid, current_label) {
        var s = prompt("@_f.tra("Zadejte popis/název k příloze.")", current_label);
        if (s != null) {
            $.post("/FileUpload/ChangeFileLabel", { fileguid: fileguid, newlabel: s }, function (data) {

                //frmUpload.submit();
                location.reload(location.href);

            });
        }
    }
</script>
