@model UI.Models.Tab.a01TabForms
@inject BL.Factory _f

@{
    Model.PageTitle = "Formuláře v akci";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";


}
@addTagHelper *, UI



<div id="subform_div_commands">
    @if (Model.IsGridView)
    {
        <button type="button" class="btn btn-outline-info" onclick="change_view('0')">@_f.tra("Vypnout GRID zobrazení")</button>
    }
    else
    {
        <button type="button" class="btn btn-outline-info" onclick="change_view('1')">@_f.tra("Přepnout na GRID")</button>
    }

    @if (Model.RecA01Permission.HasPerm(BO.a01EventPermissionENUM.ShareTeam_Leader) || Model.RecA01Permission.HasPerm(BO.a01EventPermissionENUM.FullAccess))
    {
        @if (!Model.RecA01.isclosed && !Model.RecA01.a01IsAllFormsClosed)
        {
            <button type="button" class="btn btn-primary" onclick="append_f06()">@_f.tra("Přidat formuláře")</button>
        }

        @if (Model.RecA10.a10IsUse_Poll && !Model.RecA01.isclosed && !Model.RecA01.a01IsAllFormsClosed)
        {
            <button type="button" class="btn btn-outline-secondary" onclick="append_poll()">@_f.tra("Anketní formuláře")</button>
            <button type="button" class="btn btn-outline-secondary" onclick="append_pollwizard()">@_f.tra("Přidat anketu s notifikací")</button>
        }
        @if (!Model.RecA01.isclosed && !Model.RecA01.a01IsAllFormsClosed)
        {
            <button type="button" class="btn btn-outline-secondary" onclick="append_a25()">@_f.tra("Přidat skupinu formulářů")</button>
        }
    }



</div>

@if (Model.IsGridView)
{

    <vc:the-grid input="@Model.gridinput"></vc:the-grid>
}
else
{
    <div class="modal_record_container">
        <table class="table table-sm" style="min-width:1000px;">
            @foreach (var c in Model.lisA11)
            {
                <tr>
                    <td style="width:20px;">
                        @if (c.isclosed)
                        {
                            <img src="~/images/lock.png" />
                        }
                        else
                        {
                            @if (c.a11IsInProcessing)
                            {
                                <img src="~/images/edit.png" />
                            }
                        }

                    </td>
                    <td>
                        <myval datatype="html" value="@("<a class='mx-2' href=\"javascript:_edit('a11'," + @c.pid.ToString() + ")\">" + c.FormNameHtml+"</a>")" hoverprefix="a11" hoverpid="@c.pid" cmprefix="a11" cmdpid="@c.pid"></myval>

                    </td>

                    <td>
                        @if (c.a37ID > 0)
                        {
                            <div><span style="color:orange;">@c.a37IZO</span> - <span style="color:orange;">@c.a37Name</span></div>
                        }
                    </td>
                    <td>
                        @if (c.isclosed == false)
                        {
                            <a href="@(_f.App.UiftUrl+"/Formular/"+c.pid.ToString())" target="_blank">@_f.tra("Vyplnit")</a>
                        }
                    </td>
                    <td>
                        <a href="@(_f.App.UiftUrl+"/Preview/Formular/"+c.pid.ToString())" target="_blank">@_f.tra("Náhled")</a>
                    </td>
                    <td>
                        <a href="javascript:kontrola(@c.pid)">@_f.tra("Kontrola")</a>
                    </td>
                    <td>
                        <a href="javascript:protokol(@c.pid)">@_f.tra("Protokol")</a>
                    </td>
                    <td>
                        @if (c.a11Description != null)
                        {
                            <pre>@c.a11Description</pre>
                        }

                    </td>
                    <td>
                        @if (c.a25ID > 0)
                        {
                            <a title="@_f.tra("Skupina formulářů v akci")" href="javascript:_window_open('/a25/Record?pid=@c.a25ID&a01id=@Model.RecA01.pid')">@c.a25Name</a>
                            @if (c.a25Color != null)
                            {
                                <span style="background-color:@c.a25Color">🚩</span>
                            }
                        }

                    </td>
                    <td style="width:60px;">
                        @if (c.a11IsPoll)
                        {
                            <span>@c.a11AccessToken</span>
                            <img src="~/images/poll.png" />
                        }
                    </td>
                </tr>

            }
        </table>
    </div>
}











<script type="text/javascript">
    function append_f06() {
        _window_open("/a11/Append?a01id=@Model.pid");
    }
    function append_a25() {
        _window_open("/a25/Record?a01id=@Model.pid");
    }
    function append_poll() {
        _window_open("/a11/AppendPoll?a01id=@Model.pid",2);
    }
    function append_pollwizard() {
        _window_open("/a11/AppendPollWizard?a01id=@Model.pid");
    }
    function change_view(is_grid) {
        $.post("/Common/SetUserParam", { key: "TabForms-IsGridView", value: is_grid  }, function (data) {
                location.replace(location.href);

            });
    }


    function kontrola(a11id) {
        _window_open("/a11/ValidateForms?pid="+a11id,2);
    }
    function protokol(a11id) {
        _window_open("/a11/Protocol?a11id=" + a11id, 2);
    }
</script>

