@model UI.Models.Tab.a01TabUcastnici

@{
    ViewData["Title"] = "Účastníci akce";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";


}
@addTagHelper *, UI

<div class="modal_record_container">


    @foreach (var c in Model.lisA41)
    {
        <div class="form-row my-2">
            <div class="col-sm-2 col-md-2">
                <label>@(c.a45Name+":")</label>
                @if (c.a45ID == BO.EventRoleENUM.Vedouci)
                {
                    <img src="~/images/king.png" />
                }

            </div>
            <div class="col-sm-4 col-md-4">
                @if (c.j11ID > 0)
                {
                    <myval value="@c.j11Name" hoverprefix="j11" hoverpid="@c.j11ID"></myval>
                }
                @if (c.j02ID > 0)
                {

                    @if (c.a45ID != BO.EventRoleENUM.Vlastnik)
                    {

                        <myval datatype="link" value="@c.PersonAsc" linkurl="javascript:_edit('a41',@c.pid)" hoverprefix="j02" hoverpid="@c.j02ID" cmdpid="@c.pid" cmprefix="a41"></myval>

                    }
                    else
                    {
                        <myval value="@c.PersonAsc" hoverprefix="j02" hoverpid="@c.j02ID"></myval>
                    }


                }
            </div>

        </div>
    }


    <button type="button" class="btn btn-primary" onclick="append()">Přidat účastníky</button>
</div>



<script type="text/javascript">
    function append() {
        _window_open("/a41/Append?a01id=@Model.pid");
    }
</script>