@model UI.Models.PeriodViewModel
@inject BL.ThePeriodProvider _pp
@inject BL.Factory _f
@{
    if (Model == null)
    {
        return;
    }
    var _lisPeriods = _pp.getPallete();
    if (_f.CurrentUser.j03LangIndex > 0)
    {
        foreach(BO.ThePeriod c in _lisPeriods)
        {
            c.PeriodName = _f.tra(c.PeriodName);
        }
    }
}

@addTagHelper *, UI

    <div class="form-row">
        
        <div class="col-sm-5 col-md-4">
            <mydropdown asp-for="@Model.PeriodValue" datasource="@_lisPeriods" valuefield="pid" textfield="Header" isfirstemptyrow="false"></mydropdown>

        </div>
        <div class="col-sm-2 col-md-2">
            <mydate asp-for="@Model.d1"></mydate>
        </div>
        <div class="col-sm-2 col-md-2">
            <mydate asp-for="@Model.d2"></mydate>
        </div>
        @if (Model.IsShowButtonRefresh)
        {
            <div class="col-sm-1 col-md-1">
                <button id="cmdRefreshPeriod" type="button" class="btn btn-secondary">@_f.tra("Občerstvit")</button>
            </div>
        }

    </div>

<script type="text/javascript">
    $("#d1helper").on("change", function () {
        $("#PeriodValue").val("0");
    })
    $("#d2helper").on("change", function () {
        $("#PeriodValue").val("0");
    })
</script>
