@model UI.Models.Record.a03Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Instituce");
}
@addTagHelper *, UI


<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="link_tab1" class="nav-link" data-toggle="tab" href="#tab1">@_f.tra("Vlastnosti")</a>
        </li>
        <li class="nav-item">
            <a id="link_tab2" class="nav-link" data-toggle="tab" href="#tab2">@_f.tra("Portál")</a>
        </li>

    </ul>
</div>


<div class="modal_record_container">
    <div class="tab-content">

        <div class="tab-pane" id="tab1">
            <!-- Tab1 -->
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
                <div class="col-sm-7 col-md-6">
                    <input class="form-control" asp-for="Rec.a03Name" />
                    <span asp-validation-for="Rec.a03Name" class="text-danger"></span>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input class="form-control" asp-for="Rec.a03ShortName" placeholder="@_f.tra("Zkrácený název")" />

                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="checkbox" asp-for="Rec.a03IsTestRecord" />
                    <label class="col-form-label" for="Rec_a03IsTestRecord">@_f.tra("Testovací záznam")</label>

                </div>
            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("REDIZO"):</label>
                <div class="col-sm-3 col-md-2">
                    <input class="form-control" asp-for="Rec.a03REDIZO" />
                    <span asp-validation-for="Rec.a03REDIZO" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("IČ"):</label>
                <div class="col-sm-2 col-md-2">
                    <input class="form-control" asp-for="Rec.a03ICO" />
                    <span asp-validation-for="Rec.a03ICO" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Ředitel"):</label>
                <div class="col-sm-4 col-md-4">
                    <input class="form-control" asp-for="Rec.a03DirectorFullName" />
                    <span asp-validation-for="Rec.a03DirectorFullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Typ instituce"):</label>
                <div class="col-sm-2 col-md-2">
                    <select asp-for="Rec.a06ID" class="form-control">
                        <option></option>
                        <option value="1">@_f.tra("Škola")</option>
                        <option value="2">@_f.tra("Zřizovatel")</option>
                        <option value="3">@_f.tra("Dohledový orgán")</option>
                    </select>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Právní forma"):</label>

                <div class="col-sm-7 col-md-7">
                    <mycombo entity="a21InstitutionLegalType" asp-for="Rec.a21ID" selectedtext="Rec.a21Name"></mycombo>

                </div>
            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kraj"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="a05Region" asp-for="Rec.a05ID" selectedtext="Rec.a05Name"></mycombo>

                </div>
            </div>

            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Zřizovatel"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="a03Institution" asp-for="Rec.a03ID_Founder" selectedtext="@Model.FounderName" filter-flag="1" masterprefix="a06" masterpid="2" event_after_changevalue="founder_change"></mycombo>

                </div>
                <label class="col-sm-1 col-md-1 col-form-label mx-0 px-0">@_f.tra("Typ zřizovatele"):</label>
                <div class="col-sm-3 col-md-3">
                    <mycombo entity="a09FounderType" asp-for="Rec.a09ID" selectedtext="Rec.a09Name" view-flag="2"></mycombo>

                </div>
            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Dohledový orgán"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="a03Institution" asp-for="Rec.a03ID_Supervisory" selectedtext="@Model.SupervisoryName" filter-flag="1" masterprefix="a06" masterpid="3" event_after_changevalue="supervisory_change"></mycombo>

                </div>

            </div>
            <hr />
            <div class="form-row my-2">
                <div class="col-sm-4 col-md-4">
                    <input type="radio" value="None" id="opg1" asp-for="@Model.Rec.a03ParentFlag" onchange="handle_postback()">
                    <label for="opg1">@_f.tra("Standard")</label>
                    <input type="radio" value="Master" id="opg2" asp-for="@Model.Rec.a03ParentFlag" onchange="handle_postback()">
                    <label for="opg2">@_f.tra("Nadřízená škola")</label>
                    <input type="radio" value="Slave" id="opg3" asp-for="@Model.Rec.a03ParentFlag" onchange="handle_postback()">
                    <label for="opg3">@_f.tra("Podřízená škola")</label>
                </div>
                @if (Model.Rec.a03ParentFlag == BO.a03ParentFlagEnum.Slave)
                {
                    <div class="col-sm-8 col-md-8">
                        <mycombo entity="a03Institution" asp-for="Rec.a03ID_Parent" selectedtext="@Model.ParentName" filter-flag="1" param1="parent" placeholder="Vybrat nadřízenou školu" event_after_changevalue="parent_change"></mycombo>

                    </div>
                }
               

            </div>
            

            <hr />
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Ulice"):</label>
                <div class="col-sm-5 col-md-4">
                    <input class="form-control" asp-for="Rec.a03Street" />
                    <span asp-validation-for="Rec.a03Street" class="text-danger"></span>
                </div>


            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Město"):</label>
                <div class="col-sm-5 col-md-4">
                    <input class="form-control" asp-for="Rec.a03City" />
                    <span asp-validation-for="Rec.a03City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("PSČ"):</label>
                <div class="col-sm-1 col-md-1">
                    <input class="form-control" asp-for="Rec.a03PostCode" />
                    <span asp-validation-for="Rec.a03PostCode" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("E-mail"):</label>
                <div class="col-sm-5 col-md-4">
                    <input class="form-control" type="email" asp-for="Rec.a03Email" />
                    <span asp-validation-for="Rec.a03Email" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("WWW"):</label>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" type="url" asp-for="Rec.a03Web" />
                    <span asp-validation-for="Rec.a03Web" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Mobil"):</label>
                <div class="col-sm-5 col-md-4">
                    <input class="form-control" type="tel" asp-for="Rec.a03Mobile" />
                    <span asp-validation-for="Rec.a03Mobile" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Telefon"):</label>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" type="tel" asp-for="Rec.a03Phone" />
                    <span asp-validation-for="Rec.a03Phone" class="text-danger"></span>
                </div>

            </div>
            <mystitky entity="a03Institution" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>


        </div>
        <div class="tab-pane" id="tab2">
            <!-- Tab2 -->
            <p></p>
            <select asp-for="Rec.a03SchoolPortalFlag" class="form-control">
                <option value="NotPublish">@_f.tra("Škola nepoužívá školní web na portále")</option>
                <option value="Publish">@_f.tra("Škola používá (a publikuje) školní web na portále")</option>
            </select>

        </div>
    </div>
</div>






<script type="text/javascript">
    function founder_change(a03id) {
        
    }
    function supervisory_change(a03id) {

    }


    function handle_postback() {
        form1.action = "/a03/Record?oper=postback";
        form1.submit();
    }
</script>
