@model UI.Models.Recpage.a03RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;

    Model.PageTitle = Model.Rec.a03Name;
}

@addTagHelper *, UI


<div class="row py-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        @if (Model.pid > 0)
        {
            <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-1" title="@Model.Rec.a06Name" onclick="_cm(event, 'a03',@Model.Rec.pid);">☰@Model.MenuCode </a>
            <h4 id="layout_sidebar_contextmenu_onlytext">
                @if (Model.Rec.a03ParentFlag == BO.a03ParentFlagEnum.Master)
                {
                    <img src="~/images/a03ParentFlag1.png" />
                }
                @if (Model.Rec.a03ParentFlag == BO.a03ParentFlagEnum.Slave)
                {
                    <img src="~/images/a03ParentFlag2.png" />
                }
                @Model.MenuCode
            </h4>

        }

    </div>
    @if (Model.pid > 0)
    {
        <div class="col-auto px-0">
            <ul class="nav nav-tabs nonmobile nontablet">
                <li class="nav-item onetab">
                    <a class="nav-link active" data-toggle="tab">@Model.Rec.a06Name</a>
                </li>
            </ul>


        </div>
        <div class="nonmobile col-auto">
            <a class="btn btn-light" href="/a03/RecPage?pid=@Model.pid" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
        </div>
    }


    <div class="col-auto">
        <mysearch asp-for="@Model.SearchBox" entity="a03Institution" placeholder="@_f.tra("Fulltext hledání")..."></mysearch>

    </div>

</div>

<div id="layout_sidebar" class="cm_recpage">Loading...</div>


<div id="layout_main">
    <div class="modal_record_container">
        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">
                @_f.tra("Název"):
            </label>
            @if (Model.Rec.a03ShortName == null)
            {
                <div class="col-sm-9 col-md-8">
                    <myval value="@Model.Rec.a03Name" tooltip="@Model.Rec.a03Name"></myval>
                </div>
            }
            else
            {
                <div class="col-sm-7 col-md-6">
                    <myval value="@Model.Rec.a03Name" tooltip="@Model.Rec.a03Name"></myval>
                </div>
                <div class="col-sm-2 col-md-2">
                    <myval value="@Model.Rec.a03ShortName" tooltip="@Model.Rec.a03ShortName"></myval>
                </div>
            }

            <div class="col-sm-2 col-md-2">
                @if (Model.Rec.a21ID > 0)
                {
                    <myval value="@Model.Rec.a21Name"></myval>
                }
                @if (Model.Rec.a28ID > 0)
                {
                    <myval value="@Model.Rec.a28Name"></myval>
                }
            </div>
        </div>
        <div class="row my-2">
            @if (Model.Rec.a06ID == 2)
            {
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód zřizovatele"):</label>
                <div class="col-sm-5 col-md-4">

                    <myval value="@Model.Rec.a03FounderCode"></myval>
                </div>
            }
            else
            {
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("REDIZO/IČ"):</label>
                <div class="col-sm-5 col-md-4">
                    <div class="val-readonly rowvalhover" title="REDIZO">
                        @if (Model.Rec.a03REDIZO != null)
                        {
                            <span>@Model.Rec.a03REDIZO</span>
                            @if (_f.App.Implementation == "UA")
                            {

                                <a class="valhover_tooltip" target='_blank' href="https://registry.edbo.gov.ua/institution/@(Model.Rec.a03REDIZO)">EDBO</a>
                            }
                            else
                            {
                                <a class="valhover_tooltip" target="_blank" href="https://portal.csicr.cz/School/@(Model.Rec.a03REDIZO)">portal</a>
                                @if (Model.Rec.a03ICO != null)
                                {
                                    <a class="valhover_tooltip" target='_blank' href="https://wwwinfo.mfcr.cz/cgi-bin/ares/darv_sko.cgi?ico=@(Model.Rec.a03ICO)&jazyk=cz&xml=1">rejstřík škol</a>
                                }

                            }


                        }
                    </div>
                </div>

            }


            <div class="col-sm-2 col-md-2">
                <div class="val-readonly rowvalhover" title="@_f.tra("IČ")">
                    @if (Model.Rec.a03ICO != null)
                    {
                        <span>@Model.Rec.a03ICO</span>

                        @if (Model.Rec.a06ID == 1)
                        {
                            <a class="valhover_tooltip" target='_blank' href="https://wwwinfo.mfcr.cz/cgi-bin/ares/darv_sko.cgi?ico=@(Model.Rec.a03ICO)&jazyk=cz&xml=1">ares</a>
                        }
                        else
                        {
                            <a class="valhover_tooltip" target="_blank" href="https://wwwinfo.mfcr.cz/cgi-bin/ares/darv_res.cgi?ico=@(Model.Rec.a03ICO)&jazyk=cz&xml=1">ares</a>
                        }
                        <a class="valhover_tooltip" target="_blank" href="https://or.justice.cz/ias/ui/rejstrik-$firma?ico=@(Model.Rec.a03ICO)">justice</a>

                    }

                </div>


            </div>
            @if (Model.Rec.a06ID == 1)
            {
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Ředitel (txt)"):</label>
                <div class="col-sm-3 col-md-3">
                    <myval value="@Model.Rec.a03DirectorFullName"></myval>
                </div>
            }

        </div>

        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kraj/Adresa"):</label>
            <div class="col-sm-5 col-md-4">

                <myval value="@Model.Rec.a05Name"></myval>
            </div>



            <div class="col-sm-6 col-md-6">
                <div class="val-readonly rowvalhover">
                    <span>@(Model.Rec.a03Street+", "+Model.Rec.a03PostCode+" "+Model.Rec.a03City)</span>
                    @if (_f.App.Implementation != "UA")
                    {
                        <a class="valhover_tooltip" target='_blank' href="https://mapy.cz/zakladni?q=@(Model.Rec.a03City+"+"+Model.Rec.a03Street)">mapy</a>
                    }

                    <a class="valhover_tooltip" target='_blank' href="https://www.google.com/maps/place/@(Model.Rec.a03City+"+"+Model.Rec.a03Street)">google</a>
                </div>

            </div>
        </div>
        @if (Model.RecFounder != null)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Zřizovatel"):</label>
                <div class="col-sm-8 col-md-7">
                    <myval datatype="link" value="@Model.RecFounder.a03Name" linkurl="/a03/RecPage?pid=@Model.RecFounder.pid" hoverprefix="a03" hoverpid="@Model.RecFounder.pid"></myval>
                </div>
                <div class="col-sm-2 col-md-2">
                    <myval value="@Model.RecFounder.a21Name"></myval>
                </div>
                <div class="col-sm-1 col-md-1">
                    <myval value="@Model.RecFounder.a03FounderCode"></myval>
                </div>
            </div>
        }
        @if (Model.RecSupervisory != null)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Dohledový orgán"):</label>
                <div class="col-sm-8 col-md-7">
                    <myval datatype="link" value="@Model.RecSupervisory.a03Name" linkurl="/a03/RecPage?pid=@Model.RecSupervisory.pid" hoverprefix="a03" hoverpid="@Model.RecSupervisory.pid"></myval>
                </div>

            </div>
        }
        @if (Model.RecParent != null)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nadřízená škola"):</label>
                <div class="col-sm-8 col-md-7">
                    <myval datatype="link" value="@Model.RecParent.a03Name" linkurl="/a03/RecPage?pid=@Model.RecParent.pid" hoverprefix="a03" hoverpid="@Model.RecParent.pid"></myval>
                </div>

            </div>
        }

        @if (Model.Rec.a03Email != null || Model.Rec.a03Web != null)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kontakt"):</label>
                <div class="col-sm-5 col-md-4">
                    <myval datatype="link" value="@Model.Rec.a03Email" linkurl="mailto:@Model.Rec.a03Email"></myval>

                </div>

                <div class="col-sm-3 col-md-3">
                    @if (Model.Rec.a03Web != null)
                    {
                        @if (Model.Rec.a03Web.Contains("http"))
                        {
                            <myval datatype="link" linktarget="_blank" value="@Model.Rec.a03Web" linkurl="@Model.Rec.a03Web"></myval>

                        }
                        else
                        {
                            <myval datatype="link" linktarget="_blank" value="@Model.Rec.a03Web" linkurl="@("http://"+Model.Rec.a03Web)"></myval>

                        }

                    }

                </div>
                <div class="col-sm-2 col-md-2">
                    <myval tooltip="@_f.tra("Pevný telefon")" value="@Model.Rec.a03Phone"></myval>

                </div>
                <div class="col-sm-1 col-md-1">
                    <myval tooltip="@_f.tra("Mobilní telefon")" value="@Model.Rec.a03Mobile"></myval>

                </div>

            </div>
        }
        @Html.Raw(Model.TagHtml)
    </div>

    <div class="tabs_container" id="tabs_container">
        <ul id="navtabs" class="nav nav-tabs">
            @foreach (var tab in Model.NavTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                        @tab.Name
                        @if (tab.Badge != null)
                        {
                            <span class="badge bg-primary">@tab.Badge</span>
                        }
                    </a>
                </li>

            }
        </ul>
    </div>
    <div id="divTabContent">
        <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="0" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        @if(Model.pid>0)
        {
            <text>
            $.post("/Menu/ContextMenu", { entity: "a03Institution", pid: @Model.pid }, function(data) {

                $("#layout_sidebar").html(data);

                });
            </text>
        }
        else
        {
        <text>
        $("#layout_main").css("display", "none");
        $("#layout_sidebar").html("");
        </text>
        }



        var offset = $("#divTabContent").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical);

        if (_device.type === "Phone") {
            h_vertical = 400;
        }
        $("#divTabContent").css("height", h_vertical + "px");

        _mainmenu_highlight_current("cmdA03");




    });



    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
            $.post("/Common/SetUserParam", { key: "recpage-tab-a03",value:tab.id.replace("tab","")  }, function (data) {


            });
        }
</script>
