@model UI.Models.h04MoveStatusViewModel

@{
    ViewData["Title"] = "Posunout stav úkolu";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";


}

@addTagHelper *, UI


<h4>Posunout stav úkolu: @Model.Rec.h04Signature</h4>

<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="submit" class="btn btn-success" onclick="form1.submit()">Uložit změny</button>
    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light">Zavřít</button>

</div>
<div class="modal_record_container">
    <form id="form1" asp-controller="h04" asp-action="MoveStatus" method="POST">

        <input type="hidden" asp-for="@Model.pid" />

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Stav úkolu:</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="h05ToDoStatus" asp-for="@Model.SelectedH05ID" selectedtext="@Model.SelectedH05Name" view-flag="2"></mycombo>
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-sm-4 col-md-4">
                <input type="checkbox" asp-for="@Model.IsNotifyAfterSave" />
                <label class="col-form-label" for="IsNotifyAfterSave">Po uložení odeslat řešitelům notifikační zprávu</label>
            </div>
        </div>
    </form>
</div>

