@model AdminOneForm
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model == null)
    {
        return;
    }
    ViewData["Title"] = Model.RecF06.f06Name;
}

@addTagHelper *, UI



@if (Model.view == "tree")
{
    @section header_content{

        <link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
    }

    <script src="/kendo/js/kendo.core.min.js"></script>

    <script src="/kendo/js/kendo.data.min.js"></script>
    <script src="/kendo/js/kendo.treeview.min.js"></script>

    <style type="text/css">
        #tree1 .segment {
            font-weight: bold;
            color: navy;
        }




        #tree1 .k-state-selected > span {
            color: white !important;
        }
    </style>
}

<div class="row py-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu">
        <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'f06Form',@Model.f06ID);">☰@_f.tra("Návrhář formuláře")</a>
        <h4 id="layout_sidebar_contextmenu_onlytext">@_f.tra("Návrhář formuláře")</h4>
    </div>
    <div class="pl-0">
        <ul class="nav nav-tabs">
            <li class="nav-item onetab">
                <a class="nav-link active" data-toggle="tab">@Model.RecF06.f06Name</a>
            </li>
        </ul>

    </div>
    <div class="nonmobile ml-2">
        <a class="btn btn-light" href="javascript:reload()" title="@_f.tra("Občerstvit")"><img src="~/images/refresh.png" /></a>
    </div>
    <div class="ml-2">
        @if (Model.view == "tree")
        {
            <a class="btn btn-info" href="/AdminOneForm/Index?f06id=@Model.f06ID&view=grid">@_f.tra("Přepnout na Grid")</a>
        }
        else
        {
            <a class="btn btn-info" href="/AdminOneForm/Index?f06id=@Model.f06ID&view=tree">@_f.tra("Přepnout na Strom")</a>
        }

    </div>
    <div class="ml-2">
        <a class="btn btn-success" target="_blank" href="/a11/Simulation?f06id=@Model.f06ID">@_f.tra("Simulace")</a>
        <button id="cmdNew" type="button" class="btn btn-primary">@_f.tra("Nový formulář")</button>
        <button id="cmdGrid" type="button" class="btn btn-secondary">@_f.tra("Grid formulářů")</button>
    </div>
    <div class="ml-2">
        <button id="cmdToggleSetting" type="button" class="btn btn-light dropdown-toggle">
            @_f.tra("Nastavení")
        </button>
    </div>






</div>


<div id="layout_sidebar" class="cm_recpage" style="overflow-y:auto;"></div>



<div id="layout_main">
    <div id="divToggleSetting" class="card" style="display:none;overflow:auto;max-width:1000px;">
        <div class="card-header">
            @_f.tra("Nastavení")
        </div>
        <div class="card-body">
            <input type="checkbox" asp-for="@Model.IsShowF19ID" onclick="save_setting()" />
            <label class="col-form-label" for="IsShowF19ID">@_f.tra("U otázky zobrazovat její ID")</label>
        </div>

    </div>

    @if (Model.view == "tree")
    {
        <div id="layout_main_divtree">

            <kendotree tree-datasource="@Model.treeNodes" clientid="tree1"></kendotree>
        </div>

    }
    else
    {        
        <vc:the-grid input="@Model.gridinput"></vc:the-grid>
    }




</div>


<script type="text/javascript">
    $(document.body).css("overflow", "hidden");


    $(document).ready(function () {
        @if (Model.view == "tree")
        {
        <text>
        $("#tree1").kendoTreeView(
            {
                dataSource: dstree1,
                template: "<a class='cm' onclick='_cm(event,\"#: item.prefix #\",#: item.recordid #)'>☰</a><span class='#: item.cssclass #' ondblclick='_edit(\"#: item.prefix #\",#: item.recordid #)'> #: item.text # </span>"
            }
        );
        </text>
        }

        $("#cmdToggleSetting").click(function () {
            $("#divToggleSetting").slideToggle();
        });

        $("#cmdNew").click(function () {
            _window_open("/f06/Record?pid=0",1,"Nový formulář");
        });
        $("#cmdGrid").click(function () {
            location.replace("/Admin/Forms?prefix=f06&go2pid=@Model.f06ID");
        });



        $.post("/Menu/ContextMenu", { entity: "f06Form",flag:"recpage", pid:@Model.f06ID }, function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });



        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");
        if (document.getElementById("layout_main_divtree")) {
            $("#layout_main_divtree").css("height", h_vertical + "px");
        }

    });

    function save_setting() {
        var chk = document.getElementById("IsShowF19ID");
        var ischecked = "0";
        if (chk.checked==true) {
            ischecked = "1";
        }

        $.post("/Common/SetUserParam", { key: "AdminOneForm-IsShowF19ID", value: ischecked }, function (data) {

            reload();

        });

    }



    function reload() {

        location.replace("/AdminOneForm/Index?f06id=@Model.f06ID");
    }
</script>
