@model UI.Models.Record.x31Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Tisková sestava");
}
@addTagHelper *, UI

<input type="hidden" asp-for="@Model.UploadGuid" />

<div class="modal_record_container">
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.x31Name" />
            <span asp-validation-for="Rec.x31Name" class="text-danger"></span>
        </div>



    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Formát"):</label>
        <div class="col-sm-3 col-md-3">
            <select id="x31ReportFormat" asp-for="Rec.x31ReportFormat" class="form-control">
                <option value="Telerik">TELERIK</option>
                <option value="DOC">DOCX</option>
                <option value="XLS">XLSX</option>
                <option value="MSREPORTING">MS REPORTING services</option>
            </select>
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód sestavy"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.x31PID" />
            <span asp-validation-for="Rec.x31PID" class="text-danger"></span>
        </div>
        <div class="col-sm-6 col-md-6">
            <input type="checkbox" asp-for="Rec.x31Is4SingleRecord" onchange="handle_postback()" />
            <label class="col-form-label" for="Rec_x31Is4SingleRecord">@_f.tra("Sestava pro účely zobrazení jednoho vybraného záznamu")</label>

        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přístupová práva k sestavě"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombochecklist asp-for="@Model.j04IDs" entity="j04UserRole" selectedtext="@Model.j04Names" placeholder="@_f.tra("Vybrat aplikační role")..."></mycombochecklist>
        </div>


    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Zařazení do kategorií"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombochecklist asp-for="@Model.x32IDs" entity="x32ReportType" selectedtext="@Model.x32Names" placeholder="@_f.tra("Vybrat kategorie")..."></mycombochecklist>
        </div>


    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Entita"):</label>
        <div class="col-sm-5 col-md-4">
            <mycombo entity="x29Entity" asp-for="Rec.x29ID" selectedtext="Rec.x29Name" view-flag="2" param1="x29IsReport" event_after_changevalue="handle_change_x29id"></mycombo>
        </div>
    </div>

    @if (Model.Rec.x31Is4SingleRecord && Model.Rec.x29ID == 101)
    {
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Typy akcí"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombochecklist asp-for="@Model.a10IDs" entity="a10EventType" selectedtext="@Model.a10Names"></mycombochecklist>
            </div>
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Témata akcí"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombochecklist asp-for="@Model.a08IDs" entity="a08Theme" selectedtext="@Model.a08Names"></mycombochecklist>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="@Model.a10IDs" />
        <input type="hidden" asp-for="@Model.a10Names" />
        <input type="hidden" asp-for="@Model.a08IDs" />
        <input type="hidden" asp-for="@Model.a08Names" />
    }


    <div class="form-row my-2">
        <textarea asp-for="Rec.x31Description" class="form-control" placeholder="@_f.tra("Podrobný popis")"></textarea>
        <span asp-validation-for="Rec.x31Description" class="text-danger"></span>
    </div>
    @if (Model.RecO27 != null)
    {
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Soubor report šablony"):</label>
            <div class="col-sm-10 col-md-10">
                <a target="_blank" href="/FileUpload/FileDownloadInline?downloadguid=@Model.RecO27.o27DownloadGUID">@Model.RecO27.o27OriginalFileName</a>
            </div>
        </div>

    }
    <hr />

    <iframe id="fraUpload" src="/FileUpload/SingleUpload?guid=@Model.UploadGuid" height="350" scrolling="no"></iframe>


    <div class="form-row my-2">
        <textarea asp-for="Rec.x31DocSqlSource" class="form-control" placeholder="@_f.tra("Na míru DOCX SQL zdroj sestavy")"></textarea>
        
    </div>
</div>





<script type="text/javascript">
    $(document).ready(function () {



    });


    function handle_change_x29id(x29id) {
        handle_postback();
    }
    function handle_postback() {
        form1.action = "/x31/Record?oper=postback";
        form1.submit();
    }


</script>



