@model UI.Models.Record.a39RecordByPerson
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Kontaktní instituce");

}

@addTagHelper *, UI

<input type="hidden" asp-for="@Model.j02ID" />

<div class="modal_record_container">
    <div class="alert alert-primary" role="alert">
        @Model.RecJ02.FullNameAsc
    </div>
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vztah"):</label>
        <div class="col-sm-10 col-md-10">
            <select asp-for="@Model.Rec.a39RelationFlag" class="form-control">
                <option value="Contact">@_f.tra("Kontaktní osoba")</option>
                <option value="Employee">@_f.tra("Zaměstnanec")</option>
            </select>
        </div>
    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Instituce"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a03Institution" asp-for="Rec.a03ID" selectedtext="@Model.a03Name" filter-flag="1"></mycombo>

        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Role"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j04UserRole" asp-for="Rec.j04ID_Explicit" selectedtext="@Model.RoleName" myqueryinline="institutionrole@bool@1"></mycombo>
        </div>

    </div>

    @if (_f.App.Implementation == "Default")
    {
        <div class="row my-2">
            <div class="col-sm-8 col-md-8">
                <input type="checkbox" asp-for="Rec.a39IsAllowInspisWS" />
                <label class="col-form-label" for="Rec_a39IsAllowInspisWS">@_f.tra("Oprávnění k integračním službám se školním IS")</label>

            </div>
        </div>
    }


    <div class="my-2">
        <textarea asp-for="Rec.a39Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
        
    </div>
</div>





