@model UI.Models.Record.b06Record
@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "Workflow krok";
}
@addTagHelper *, UI

<input type="hidden" asp-for="@Model.b01ID" />
<input type="hidden" asp-for="@Model.b02ID" />

<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="link_tab1" class="nav-link" data-toggle="tab" href="#tab1">Vlastnosti</a>
        </li>
        <li class="nav-item">
            <a id="link_tab2" class="nav-link" data-toggle="tab" href="#tab2">Kdo spouští krok</a>
        </li>
        <li class="nav-item">
            <a id="link_tab3" class="nav-link" data-toggle="tab" href="#tab3">Notifikace</a>
        </li>
        <li class="nav-item">
            <a id="link_tab4" class="nav-link" data-toggle="tab" href="#tab4">Formuláře a přílohy</a>
        </li>
        <li class="nav-item">
            <a id="link_tab5" class="nav-link" data-toggle="tab" href="#tab5">Přístup k historii</a>
        </li>
        <li class="nav-item">
            <a id="link_tab6" class="nav-link" data-toggle="tab" href="#tab6">Příkazy</a>
        </li>
        <li class="nav-item">
            <a id="link_tab7" class="nav-link" data-toggle="tab" href="#tab7">Úkol</a>
        </li>
        <li class="nav-item">
            <a id="link_tab8" class="nav-link" data-toggle="tab" href="#tab8">SQL</a>
        </li>
    </ul>
</div>


<div class="modal_record_container">
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div class="alert alert-primary" role="alert">
                @Model.RecB02.b02Name
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Název kroku:</label>
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.b06Name" />
                    <span asp-validation-for="Rec.b06Name" class="text-danger"></span>
                </div>
                <div class="col-sm-2 col-md-2">
                    ID: <span>@(Model.rec_pid)</span>
                </div>
            </div>
            <div class="form-row my-2">

                <label class="col-sm-1 col-md-2 col-form-label">Cílový stav:</label>
                <div class="col-sm-9 col-md-8">
                    <mycombo entity="b02WorkflowStatus" asp-for="Rec.b02ID_Target" selectedtext="Rec.TargetStatus" masterprefix="b01" masterpid="@Model.b01ID" placeholder="Vybrat workflow stav..." view-flag="2"></mycombo>

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-4 col-md-4">
                    <input type="checkbox" asp-for="Rec.b06IsManualStep" />
                    <label class="col-form-label" for="Rec_b06IsManualStep">Workflow krok spouští uživatel ručně</label>
                </div>
            </div>
            @if (Model.Rec.b06IsManualStep)
            {
                <div class="form-row my-2">
                    <div class="col-sm-4 col-md-4">
                        <input type="checkbox" asp-for="Rec.b06IsNominee" />
                        <label class="col-form-label" for="Rec_b06IsNominee">V tomto kroku lze provést nominaci</label>
                    </div>
                </div>
                @if (Model.Rec.b06IsNominee)
                {
                    <div class="card">
                        <div class="card-header">
                            Nastavení nominace
                            <input type="checkbox" asp-for="Rec.b06IsNomineeRequired" />
                            <label class="col-form-label" for="Rec_b06IsNomineeRequired">Nominace je povinná</label>
                        </div>
                        <div class="card-body">
                            Nominovaný obdrží v akci roli:
                            <br />
                            <mycombo entity="a45EventRole" asp-for="Rec.a45ID_NomineeTarget" selectedtext="@Model.a45Name_NomineeTarget" placeholder="Vybrat roli..." view-flag="2"></mycombo>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Zdroj nabídky osob k nominaci:
                            </div>
                            <div class="col-4">
                                <select asp-for="Rec.x26ID_Nominee_J02" class="form-control">
                                    <option value="0">Bez možnosti nominovat osobu (jednotlivce)</option>
                                    <option value="1">Všechny osoby</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Zdroj nabídky pojmenovaných seznamů osob k nominaci:
                            </div>
                            <div class="col-4">
                                <select asp-for="Rec.x26ID_Nominee_J11" class="form-control">
                                    <option value="0">Bez možnosti nominovat seznam osob (tým)</option>
                                    <option value="2">Všechny seznamy (týmy) osob</option>
                                </select>
                            </div>
                        </div>
                    </div>
                }


                <div class="form-row my-2">
                    <div class="col-sm-4 col-md-4">
                        <input type="checkbox" asp-for="Rec.b06IsCommentRequired" />
                        <label class="col-form-label" for="Rec_b06IsCommentRequired">Uživatel má povinnost zapsat komentář</label>
                    </div>

                </div>
                <div class="form-row my-2">
                    <div class="col-sm-5 col-md-5">
                        <input type="checkbox" asp-for="Rec.b06IsRunOneInstanceOnly" />
                        <label class="col-form-label" for="Rec_b06IsRunOneInstanceOnly">Krok je povoleno u akce spustit pouze jednou</label>
                    </div>

                </div>
            }


            <div class="form-row my-2">
                <div class="col-sm-6 col-md-6">
                    <input type="checkbox" asp-for="Rec.b06IsEscalation_Timeout_Total" />
                    <label class="col-form-label" for="Rec_b06IsEscalation_Timeout_Total">Tento krok se automaticky spustí po uplynutí TOTAL TIMEOUT stavu</label>
                </div>

            </div>
            <div class="form-row my-2">
                <div class="col-sm-6 col-md-6">
                    <input type="checkbox" asp-for="Rec.b06IsEscalation_Timeout_SLA" />
                    <label class="col-form-label" for="Rec_b06IsEscalation_Timeout_SLA">Tento krok se automaticky spustí po uplynutí SLA TIMEOUT stavu</label>
                </div>

            </div>


            <div class="form-row my-2">
                <label class="col-sm-2 col-md-3 col-form-label">Pořadí v nabídce kroků pro uživatele:</label>
                <div class="col-sm-1 col-md-1">
                    <mynumber asp-for="Rec.b06Order" decimal-digits="0"></mynumber>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <!-- Tab2 -->
            <p></p>

            @if (Model.Rec.b06IsManualStep)
            {
                <p>Vyberte, kdo může spustit tento krok:</p>
                <div style="width:100%;">
                    <mycombochecklist asp-for="@Model.b08_a45IDs" entity="a45EventRole" selectedtext="@Model.b08_a45Names" placeholder="Vybrat roli v akci..." event_after_changevalue="b08_change_a45ids"></mycombochecklist>

                    @if (Model.b08_a45IDs != null && Model.b08_a45IDs.Contains("99"))
                    {
                        <div>
                            Vyberte nominovaný tým osob:
                            <br />
                            <mycombo entity="j11Team" asp-for="@Model.j11ID_b08_99" selectedtext="@Model.j11Name_b08_99" view-flag="2"></mycombo>
                        </div>
                    }
                    @if (Model.b08_a45IDs != null && Model.b08_a45IDs.Contains("98"))
                    {
                        <div>
                            Krok, v kterém proběhla nominace:
                            <br />
                            <mycombo entity="b06WorkflowStep" asp-for="@Model.b06ID_NomineeSource" selectedtext="@Model.b06Name_NomineeSource" view-flag="2" masterprefix="b01" masterpid="@Model.b01ID"></mycombo>
                        </div>
                    }

                </div>
                <div style="width:100%;margin-top:10px;">
                    <mycombochecklist asp-for="@Model.b08_j04IDs" entity="j04UserRole" selectedtext="@Model.b08_j04Names" placeholder="Vybrat aplikační role..."></mycombochecklist>

                </div>
            }
            else
            {
                <i>Krok je nyní nastaven, že ho nespouští uživatel.</i>
            }



        </div>
        <div class="tab-pane" id="tab3">
            <!-- Tab3 -->
            <p></p>
            <button type="button" class="btn btn-primary" onclick="handle_b11_append()">Přidat</button>
            <table class="table table-hover">
                @for (var i = 0; i < Model.lisB11.Count; i++)
                {
                    <tr>
                        <td>
                            <div class="form-row" style="@(Model.lisB11[i].CssTempDisplay)">
                                <input type="hidden" asp-for="lisB11[i].IsTempDeleted" value="@Model.lisB11[i].IsTempDeleted" />
                                <input type="hidden" asp-for="lisB11[i].TempGuid" value="@Model.lisB11[i].TempGuid" />
                                <div class="col-sm-2 col-md-2">
                                    Příjemce zprávy:
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <mycombo entity="a45EventRole" asp-for="lisB11[i].a45ID" selectedtext="lisB11[i].a45Name" placeholder="Vybrat roli v akci..." view-flag="2"></mycombo>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <mycombo entity="j04UserRole" asp-for="lisB11[i].j04ID" selectedtext="lisB11[i].j04Name" placeholder="Vybrat aplikační roli..." view-flag="2"></mycombo>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <mycombo entity="j11Team" asp-for="lisB11[i].j11ID" selectedtext="lisB11[i].j11Name" placeholder="Vybrat tým..." view-flag="2"></mycombo>
                                </div>

                                <div class="col-1">
                                    <button type="button" class="btn btn-danger" title="Odstranit řádek" onclick="handle_delete_b11('@(Model.lisB11[i].TempGuid)')">x</button>
                                </div>

                            </div>
                            <div class="form-row" style="@(Model.lisB11[i].CssTempDisplay)">
                                <div class="col-sm-2 col-md-2">
                                    Šablona zprávy:
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <mycombo entity="b65WorkflowMessage" asp-for="lisB11[i].b65ID" selectedtext="lisB11[i].b65Name" placeholder="Vybrat šablonu poštovní zprávy..." view-flag="2"></mycombo>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="tab4">
            <!-- Tab4 -->
            <p>Kontrolované typy příloh v tomto kroku:</p>
            <div style="width:100%;">
                <mycombochecklist asp-for="@Model.o13IDs" entity="o13AttachmentType" selectedtext="@Model.o13Names" placeholder="Vybrat typ přílohy..."></mycombochecklist>

            </div>

            <div class="card" style="margin-top:20px;">
                <div class="card-header">
                    Kontrolované formuláře v tomto kroku
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-8">
                            <mycombo entity="f06Form" asp-for="@Model.SelectedF06ID" selectedtext="@Model.SelectedForm" filter-flag="1" placeholder="Vybrat formulář..." event_after_changevalue="handle_f06id_append"></mycombo>
                        </div>
                        <div class="col-2">
                            <button type="button" id="cmdGrid" class="btn btn-secondary btn-sm" onclick="multiselect()">Přidat formuláře hromadně</button>
                        </div>
                    </div>


                    <hr />

                    @for (var i = 0; i < Model.lisB13.Count; i++)
                    {
                        <div class="row" style="@(Model.lisB13[i].CssTempDisplay)">
                            <input type="hidden" asp-for="lisB13[i].IsTempDeleted" value="@Model.lisB13[i].IsTempDeleted" />

                            <input type="hidden" asp-for="lisB13[i].TempGuid" value="@Model.lisB13[i].TempGuid" />
                            <div class="col-sm-8 col-md-8">
                                <mycombo entity="f06Form" asp-for="lisB13[i].f06ID" selectedtext="lisB13[i].f06Name" placeholder="Vybrat formulář..."></mycombo>
                            </div>

                            <div class="col-1">
                                <button type="button" class="btn btn-danger" title="Odstranit řádek" onclick="handle_delete_b13('@(Model.lisB13[i].TempGuid)')">x</button>
                            </div>

                        </div>
                    }
                </div>


            </div>

        </div>
        <div class="tab-pane" id="tab5">
            <!-- Tab5 -->
            <p></p>
            <p>Zaškrtněte okruh účastníků, kteří v historii uvidí událost tohoto kroku:</p>
            <div style="width:100%;">
                <mycombochecklist asp-for="@Model.b12_j04IDs" entity="j04UserRole" selectedtext="@Model.b12_j04Names" placeholder="Vybrat aplikační role..."></mycombochecklist>

            </div>
            <div style="width:100%;">
                <mycombochecklist asp-for="@Model.b12_a45IDs" entity="a45EventRole" selectedtext="@Model.b12_a45Names" placeholder="Vybrat roli v akci..."></mycombochecklist>

            </div>
            <i>Nezaškrtnuto -> Událost kroku v historii bude dostupná všem účastníkům akce.</i>

        </div>
        <div class="tab-pane" id="tab6">
            <!--Tab6-->
            <p></p>
            <button type="button" class="btn btn-primary" onclick="handle_b10_append()">Přidat</button>
            <table class="table table-hover">
                <tr>
                    <th>Příkaz</th>
                    <th>Parametr</th>
                    <th></th>
                </tr>
                @for (var i = 0; i < Model.lisB10.Count; i++)
                {
                    <tr style="@(Model.lisB10[i].CssTempDisplay)">
                        <td style="width:45%;">
                            <input type="hidden" asp-for="lisB10[i].IsTempDeleted" value="@Model.lisB10[i].IsTempDeleted" />
                            <input type="hidden" asp-for="lisB10[i].TempGuid" value="@Model.lisB10[i].TempGuid" />
                            <mycombo entity="b09WorkflowCommandCatalog" asp-for="lisB10[i].b09ID" selectedtext="lisB10[i].b09Name" placeholder="Vybrat příkaz..." view-flag="2" event_after_changevalue="handle_b09id_change"></mycombo>



                        </td>
                        <td style="width:45%;">
                            @if (Model.lisB10[i].b09ParametersCount > 0)
                            {
                                <input type="text" class="form-control" asp-for="lisB10[i].b10Parameter1" />
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="lisB10[i].b10Parameter1" disabled="disabled" />
                            }

                        </td>
                        <td style="width:10%;">
                            <button type="button" class="btn btn-danger" title="Odstranit řádek" onclick="handle_delete_b10('@(Model.lisB10[i].TempGuid)')">x</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="tab7">
            <!-- Tab7:úkol -->
            <p></p>
            <div class="form-row">
                <div class="col-sm-4 col-md-4">
                    <input type="checkbox" asp-for="Rec.b06IsToDoGeneration" />
                    <label class="col-form-label" for="Rec_b06IsToDoGeneration">Krok vygeneruje úkol (lhůtu)</label>
                </div>
            </div>
            @if (Model.Rec.b06IsToDoGeneration)
            {
                <div class="form-row my-2">

                    <label class="col-sm-1 col-md-2 col-form-label">Typ úkolu (lhůty):</label>
                    <div class="col-sm-9 col-md-8">
                        <mycombo entity="h07ToDoType" asp-for="Rec.b06ToDo_h07ID" selectedtext="Rec.h07Name" placeholder="Vybrat typ úkolu..." view-flag="2"></mycombo>

                    </div>
                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">Název úkolu (lhůty):</label>
                    <div class="col-sm-11 col-md-10">
                        <input class="form-control" asp-for="Rec.b06ToDo_Name" />

                    </div>

                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">Termín:</label>
                    <div class="col-sm-1 col-md-1">
                        <mynumber asp-for="Rec.b06ToDo_DeadlineMove" decimal-digits="0"></mynumber>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        dní vůči:
                        <select asp-for="Rec.b06ToDo_DeadlineField">
                            <option value="a01DateFrom">Plánovaný začátek akce</option>
                            <option value="a01DateUntil">Plánovaný konec akce</option>
                        </select>
                    </div>

                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">Příjemci:</label>
                    <div class="col-sm-11 col-md-10">
                        <select asp-for="Rec.b06ToDo_ReceiverFlag" class="form-control">
                            <option value="1">Pouze vedoucí týmu</option>
                            <option value="2">Pouze vedoucí týmu</option>
                            <option value="3">Pouze členové týmu</option>
                            <option value="4">Pouze přizvané osoby týmu</option>
                        </select>
                    </div>

                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">Začátek plánu:</label>
                    <div class="col-sm-1 col-md-1">
                        <mynumber asp-for="Rec.b06ToDo_CapacityPlanFromMove" decimal-digits="0"></mynumber>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        dní vůči:
                        <select asp-for="Rec.b06ToDo_CapacityPlanFromField">
                            <option value="a01DateFrom">Plánovaný začátek akce</option>
                            <option value="a01DateUntil">Plánovaný konec akce</option>
                        </select>
                    </div>
                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">Konec plánu:</label>
                    <div class="col-sm-1 col-md-1">
                        <mynumber asp-for="Rec.b06ToDo_CapacityPlanUntilMove" decimal-digits="0"></mynumber>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        dní vůči:
                        <select asp-for="Rec.b06ToDo_CapacityPlanUntilField">
                            <option value="a01DateFrom">Plánovaný začátek akce</option>
                            <option value="a01DateUntil">Plánovaný konec akce</option>
                        </select>
                    </div>
                </div>
                <div class="form-row my-2">
                    <textarea asp-for="Rec.b06ToDo_Description" class="form-control" placeholder="Popis zadání úkolu" style="min-height:40px;"></textarea>

                </div>
                <div class="form-row">
                    <div class="col-sm-4 col-md-4">
                        <input type="checkbox" asp-for="Rec.b06ToDo_IsSendMail" />
                        <label class="col-form-label" for="Rec_b06ToDo_IsSendMail">Odesílat e-mail notifikaci</label>
                    </div>
                </div>
            }

        </div>
        <div class="tab-pane" id="tab8">
            <!-- Tab8:sql -->
            <p></p>
            <div>
                Validační SQL dotaz testující možnost provedení kroku:
            </div>
            <div>
                (Pokud SQL vrací hodnotu 1, podmínka je splněna)
            </div>
            <div>
                <textarea asp-for="Rec.b06ValidateBeforeRunSQL" class="form-control" style="min-height:100px;"></textarea>

            </div>
            <div>
                <input type="text" class="form-control" asp-for="Rec.b06ValidateBeforeErrorMessage" placeholder="Uživatelská hláška v případě nesplnění validačního dotazu" />
            </div>
            <div style="margin-top:20px;">
                Automatický posun | Krok bude automaticky proveden po splnění následujícího SQL dotazu:
            </div>
            <div>
                (Splnění podmínky znamená, že SQL dotaz vrací hodnotu: 1 [typ: int], systém testuje nepřetržitě každých 5 minut)
            </div>
            <div>
                <textarea asp-for="Rec.b06ValidateAutoMoveSQL" class="form-control" style="min-height:100px;"></textarea>

            </div>
        </div>
    </div>



</div>
<input type="hidden" id="hidF06IDs" />


<script type="text/javascript">
    $(document).ready(function () {

        $("#Rec_b06IsToDoGeneration").on("change", function () {
            form1.action = "/b06/Record?oper=postback";
            form1.submit();
        });

        $("#Rec_b06IsManualStep").on("change", function () {
            form1.action = "/b06/Record?oper=postback";
            form1.submit();
        });
        $("#Rec_b06IsNominee").on("change", function () {
            form1.action = "/b06/Record?oper=postback";
            form1.submit();
        });



    });


    function handle_b11_append() {
        form1.action = "/b06/Record?oper=add_b11";
        form1.submit();
    }
    function handle_delete_b11(guid) {
        form1.action = "/b06/Record?oper=delete_b11&guid=" + guid;
        form1.submit();

    }



    function handle_b10_append() {
        form1.action = "/b06/Record?oper=add_b10";
        form1.submit();
    }
    function handle_delete_b10(guid) {
        form1.action = "/b06/Record?oper=delete_b10&guid=" + guid;
        form1.submit();

    }
    function handle_b09id_change(b09id) {
        form1.action = "/b06/Record?oper=postback";
        form1.submit();
    }


    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=f06");
    }
    function refresh_f06_table() {
        var f06ids = $("#hidF06IDs").val();
        form1.action = "/b06/Record?oper=add_b13&f06ids=" + f06ids;
        form1.submit();

    }

    function handle_f06id_append(f06id) {
        if (f06id == "") {
            _notify_message("Musíte vybrat formulář.");
            return;
        }
        form1.action = "/b06/Record?oper=add_b13&f06id=" + f06id;
        form1.submit();
    }
    function handle_delete_b13(guid) {
        form1.action = "/b06/Record?oper=delete_b13&guid=" + guid;
        form1.submit();
    }

    function b08_change_a45ids(a45ids) {
        form1.action = "/b06/Record?oper=postback";
        form1.submit();
    }
</script>


