@model a11AppendViewModel
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Přidat formuláře do akce");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI

<h4>Přidat formuláře do akce: @Model.RecA01.a01Signature</h4>
<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="button" class="btn btn-success" onclick="save()">@_f.tra("Uložit změny")</button>
    <button id="cmdClose" type="button" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
</div>

<form id="form1" asp-controller="a11" asp-action="Append" method="POST">
    <input type="hidden" asp-for="@Model.a01ID" />

    <div class="modal_record_container">
        <div class="alert alert-primary" role="alert">
            <label style="font-weight:bold;">@_f.tra("Typ akce"):</label>
            @Model.RecA01.a10Name
            <label style="font-weight:bold;margin-left:20px;">@_f.tra("Téma akce"):</label>
            @Model.RecA01.a08Name
        </div>

        <div class="card">
            <div class="card-header">
                @_f.tra("Vybrat formulář")
                <button type="button" class="btn btn-sm btn-primary" onclick="handle_f06id_append()">@_f.tra("Přidat k uložení")</button>
            </div>
            <div class="card-body">
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vybrat formulář"):</label>
                    <div class="col-sm-9 col-md-8">
                        <mycombo entity="f06Form" asp-for="@Model.SelectedF06ID" selectedtext="@Model.SelectedForm" placeholder="@_f.tra("Vybrat formulář")..." masterprefix="a08" masterpid="@Model.RecA01.a08ID"></mycombo>
                    </div>
                    <div class="col-sm-1 col-md-1">@_f.tra("Kolikrát"):</div>
                    <div class="col-sm-1 col-md-1">
                        <mynumber asp-for="@Model.SelectedKolikrat" decimal-digits="0"></mynumber>
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Činnost (součást) školy"):</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="a37InstitutionDepartment" asp-for="@Model.SelectedA37ID" selectedtext="@Model.SelectedA37Name" view-flag="2" masterprefix="a03" masterpid="@Model.RecA01.a03ID"></mycombo>
                    </div>
                </div>
                <div class="form-row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Skupina formulářů v akci"):</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="a25EventFormGroup" asp-for="@Model.SelectedA25ID" selectedtext="@Model.SelectedA25Name" view-flag="2" masterprefix="a01" masterpid="@Model.RecA01.pid"></mycombo>
                    </div>
                </div>
                <div class="form-row my-2">
                    <textarea asp-for="@Model.a11Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
                    <span asp-validation-for="@Model.a11Description" class="text-danger"></span>
                </div>


            </div>
        </div>


        <div class="card">
            <div class="card-header"><img src="/Images/star.png" /> @_f.tra("Čeká na uložení")</div>
            <div class="card-body">
                @for (var i = 0; i < Model.lisA11.Count; i++)
                {
                    <div class="row" style="@(Model.lisA11[i].CssTempDisplay)">

                        <input type="hidden" asp-for="@Model.lisA11[i].IsTempDeleted" value="@Model.lisA11[i].IsTempDeleted" />
                        <input type="hidden" asp-for="@Model.lisA11[i].f06ID" value="@Model.lisA11[i].f06ID" />
                        <input type="hidden" asp-for="@Model.lisA11[i].f06Name" value="@Model.lisA11[i].f06Name" />
                        <input type="hidden" asp-for="@Model.lisA11[i].a37ID" value="@Model.lisA11[i].a37ID" />
                        <input type="hidden" asp-for="@Model.lisA11[i].a25ID" value="@Model.lisA11[i].a25ID" />


                        <input type="hidden" asp-for="lisA11[i].TempGuid" value="@Model.lisA11[i].TempGuid" />
                        <div class="col-sm-4 col-md-4">
                            <myval value="@Model.lisA11[i].f06Name" hoverprefix="f06" hoverpid="@Model.lisA11[i].f06ID"></myval>

                        </div>
                        <div class="col-sm-3 col-md-3">
                            <input type="text" class="form-control" placeholder="Poznámka" asp-for="@Model.lisA11[i].a11Description" value="@Model.lisA11[i].a11Description" />
                        </div>
                        <div class="col-sm-4 col-md-4">

                            <input type="hidden" asp-for="@Model.lisA11[i].a37Name" value="@Model.lisA11[i].a37Name" />
                            <input type="hidden" asp-for="@Model.lisA11[i].a25Name" value="@Model.lisA11[i].a25Name" />

                            <span style="color:orange">@Model.lisA11[i].a37Name</span>
                            <span style="margin-left:20px;">@Model.lisA11[i].a25Name</span>

                        </div>



                        <div class="col-1">
                            <button type="button" class="btn btn-danger" tabindex="-1" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_row('@(Model.lisA11[i].TempGuid)')">x</button>

                        </div>

                    </div>
                }
            </div>
        </div>



        @if (Model.lisA11Saved.Count() > 0)
        {
            <div class="card my-2">
                <div class="card-header">
                    @_f.tra("Již uložené formuláře v akci")
                </div>
                <div class="card-body">
                    @Html.EditorFor(m => m.lisA11Saved, "~/Views/Shared/_a01FormsStatic.cshtml")
                </div>
            </div>
        }


    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {





    });

    function handle_f06id_append() {

        form1.action = "/a11/Append?oper=add";
        form1.submit();

    }
    function handle_delete_row(guid) {
        form1.action = "/a11/Append?oper=delete&guid=" + guid;
        form1.submit();

    }

    function save() {

        form1.submit();

    }

</script>




