@model a11AppendPollWizardViewModel
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Přidat anketní formuláře do akce");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI

<h4>@_f.tra("Přidat anketní formulář do akce") @(": "+Model.RecA01.a01Signature)</h4>
<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="button" class="btn btn-success">@_f.tra("Uložit a odeslat")</button>
    <button id="cmdClose" type="button" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
</div>

<form id="form1" asp-controller="a11" asp-action="AppendPollWizard" method="POST">
    <input type="hidden" asp-for="@Model.a01ID" />

    <div class="modal_record_container">
        <div class="alert alert-primary" role="alert">
            <label style="font-weight:bold;">@_f.tra("Typ akce"):</label>
            @Model.RecA01.a10Name
            <label style="font-weight:bold;margin-left:20px;">@_f.tra("Téma akce"):</label>
            @Model.RecA01.a08Name
            <label style="font-weight:bold;margin-left:20px;">@(Model.RecA01.a06Name+":")</label>
            @Model.RecA01.a03Name
        </div>

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Příjemce (e-mail adresa)"):</label>
            <div class="col-sm-3 col-md-3">
                <input type="text" class="form-control" asp-for="@Model.EmailAddress" value="@Model.EmailAddress" />
            </div>
            <div class="col-sm-8 col-md-7">
                <mydropdown asp-for="@Model.SelectedEmail" datasource="@Model.lisEmails" textfield="Value" valuefield="Key" isfirstemptyrow="true" firstemptyrowtext="@_f.tra("Příjemce notifikační zprávy")" event_after_changevalue="email_change()"></mydropdown>
            </div>
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vybrat formulář"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="f06Form" asp-for="@Model.SelectedF06ID" selectedtext="@Model.SelectedForm" placeholder="@_f.tra("Vybrat formulář")..." masterprefix="a08" masterpid="@Model.RecA01.a08ID" param1="poll"></mycombo>
            </div>

        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Činnost (součást) školy"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="a37InstitutionDepartment" asp-for="@Model.SelectedA37ID" selectedtext="@Model.SelectedA37Name" view-flag="2" masterprefix="a03" masterpid="@Model.RecA01.a03ID"></mycombo>
            </div>
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přístupový PIN"):</label>
            <div class="col-sm-1 col-md-1">
                <input type="text" class="form-control" asp-for="@Model.AccessToken" />
            </div>

            <div class="col-sm-10 col-md-9">
                <input type="text" asp-for="@Model.a11Description" class="form-control" placeholder="@_f.tra("Poznámka")" />
            </div>
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Šablona notifikační zprávy"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="b65WorkflowMessage" asp-for="@Model.SelectedB65ID" selectedtext="@Model.SelectedB65Name" param1="111" event_after_changevalue="b65id_change"></mycombo>
            </div>

        </div>

        <div class="form-row my-2" style="border-top:dotted 1px gray;">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Předmět notifikační zprávy"):</label>
            <div class="col-sm-11 col-md-10">
                <input type="text" class="form-control" asp-for="@Model.MessageSubject" />
            </div>

        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Obsah notifikační zprávy"):</label>
            <div class="col-sm-11 col-md-10">
                
                <textarea asp-for="@Model.MessageBody" class="form-control" style="height:400px;"></textarea>
            </div>

        </div>
    </div>




</form>


<script type="text/javascript">
    $(document).ready(function () {

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();

        });



    });

    function b65id_change(b65id) {
        $.post("/a11/GetWorkflowMessage", { b65id: b65id  }, function (data) {
            $("#MessageSubject").val(data.b65MessageSubject);
            $("#MessageBody").text(data.b65MessageBody);

        });


    }

    function email_change() {
        form1.action = "/a11/AppendPollWizard?oper=email";
        form1.submit();
    }


  

</script>