@model Formular
@inject AppConfiguration AppConfig
@inject UIFT.Repository.RepositoryFactory factory
@inject BL.RunningApp app
@{
    var persistentData = this.Context.Items["PersistantData"] as UIFT.PersistantDataStorage;
    var user = this.User as UIFT.Security.UIFTUser;
    var rep = factory.Get();
}
@section Header
{
    @if (Model.AktualniOtazka > 0)
    { // pokud ma byt pri startu naskrolovano na nekterou z  otazek
        <script type="text/javascript">UIFT.ActualQuestion=@(Model.AktualniOtazka);</script>
    }
}

<!-- HEADER -->
<div id="header">
    <div id="header2">
        <!-- ikona pro mobilni menu -->
        <a href="#" id="mobileMenu"></a>

        <!-- zavrit okno / odhlasit se -->
        @if (persistentData.a11IsPoll)
        {
            <a href="javascript:UIFT.Logout();" class="headerClose"><span></span>@rep.BL.tra("Odhlásit se")</a>
        }
        else
        {
            <a href="javascript:UIFT.CloseWindow();" class="headerClose"><span></span>@rep.BL.tra("Zavřít okno")</a>
        }
        <!-- info o uzivateli -->
        <div class="userInfo">@rep.BL.tra("Přihlášený uživatel:")<br /><strong>@user.Jmeno</strong></div>
        <!-- workflow -->
        @if (Model.Base.f06IsReportDialog)
        {
            <a class="headerWF" id="headerWF_report" href="@(AppConfig.BaseURL_EPIS1)/x31/ReportContext?prefix=a01&pid=@(persistentData.a01id)" target="_blank"><span></span>@rep.BL.tra("Tisková sestava")</a>
        }
        @if (Model.Base.f06IsWorkflowDialog)
        {
            <a class="headerWF" id="headerWF_move" href="@(AppConfig.BaseURL_EPIS1)/workflow/Dialog?pid=@(persistentData.a01id)" target="_blank"><span></span>@rep.BL.tra("Posunout/doplnit")</a>
        }

        <!-- LOGO -->
        <img src="~/css/images/logo_@(app.LogoImageSuffix).png?v=1" alt="EPIS" class="logo" />
    </div>
</div>

<!-- SIDE MENU -->
<div id="menuContainer">
    <div id="menuTitle">@rep.BL.tra("Části formuláře")<p>@Model.Base.f06Name<span style="opacity:0.5;font-weight:400;font-size:10px;"> @(persistentData.IsPreview ? rep.BL.tra("(náhled)") : "")</span></p></div>
    <div id="segmentsTreeContainer">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            @Html.SekceTree(Model.Tree, Model.AktualniSekce)
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div id="contentContainer">
    <!-- kontajner pro obsah formulare -->
    <div id="contentContainerInner"></div>

    <div class="clr"></div>

    <!-- FOOTER -->
    <div id="footer">
        @if (Model.Base.f06IsExportToDoc)
        {
            <a id="aExportWord" href="@Url.Action("WordDialog", "Export")"><span></span>@rep.BL.tra("Exportovat do MS Word")</a>
        }
        <p>
            Build: @Html.AppVersion()
        </p>
    </div>
</div>
