@model UI.Models.Record.a08Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Téma akce");
}
@addTagHelper *, UI




<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.a08Name" />
            
        </div>
    </div>
    <div class="my-2">
        <textarea asp-for="Rec.a08Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
        
    </div>





    <div class="card">
        <div class="card-header">
            @_f.tra("Povolené formuláře k tématu")

        </div>
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <mycombo entity="f06Form" asp-for="@Model.SelectedF06ID" selectedtext="@Model.SelectedForm" filter-flag="1" placeholder="@_f.tra("Vybrat formulář")..." event_after_changevalue="handle_f06id_append"></mycombo>
                </div>
                <div class="col-2">
                    <button type="button" id="cmdGrid" class="btn btn-secondary btn-sm" onclick="multiselect()">@_f.tra("Přidat formuláře hromadně")</button>
                </div>
            </div>


            @for (var i = 0; i < Model.lisA12.Count; i++)
            {
                <div class="row" style="@(Model.lisA12[i].CssTempDisplay)">
                    <input type="hidden" asp-for="lisA12[i].IsTempDeleted" value="@Model.lisA12[i].IsTempDeleted" />

                    <input type="hidden" asp-for="lisA12[i].TempGuid" value="@Model.lisA12[i].TempGuid" />
                    <div class="col-sm-8 col-md-8">
                        <input type="hidden" asp-for="@Model.lisA12[i].f06ID" />
                        <input type="hidden" asp-for="@Model.lisA12[i].f06Name" />
                        <myval value="@Model.lisA12[i].f06Name" hoverprefix="f06" hoverpid="@Model.lisA12[i].f06ID"></myval>

                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input type="checkbox" id="chk@(Model.lisA12[i].TempGuid)" asp-for="lisA12[i].a12IsRequired" />
                        <label for="chk@(Model.lisA12[i].TempGuid)">@_f.tra("Povinné k zařazení")</label>
                    </div>
                    <div class="col-1" title="@_f.tra("Pořadí mezi formuláři")">
                        <mynumber asp-for="lisA12[i].a12Ordinal" decimal-digits="0"></mynumber>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_row('@(Model.lisA12[i].TempGuid)')">x</button>
                    </div>

                </div>
            }
        </div>


    </div>
    <div class="card" style="margin-top:20px;">
        <div class="card-header">
            @_f.tra("Povolené přílohy k tématu")
            <button type="button" id="cmdAddA14" class="btn btn-secondary btn-sm" onclick="create_a14()">@_f.tra("Přidat")</button>
        </div>
        <div class="card-body">
            @for (var i = 0; i < Model.lisA14.Count; i++)
            {
                <div class="row" style="@(Model.lisA14[i].CssTempDisplay)">
                    <input type="hidden" asp-for="lisA14[i].IsTempDeleted" value="@Model.lisA14[i].IsTempDeleted" />

                    <input type="hidden" asp-for="@Model.lisA14[i].TempGuid" value="@Model.lisA14[i].TempGuid" />
                    <div class="col-sm-8 col-md-8">
                        <mydropdown asp-for="@Model.lisA14[i].o13ID" datasource="@Model.lisO13" valuefield="pid" textfield="TreeItem" isfirstemptyrow="true" firstemptyrowvalue="0"></mydropdown>
                        
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input type="checkbox" id="chk@(Model.lisA14[i].TempGuid)" asp-for="@Model.lisA14[i].a14IsRequired" />
                        <label for="chk@(Model.lisA14[i].TempGuid)">@_f.tra("Povinné k zařazení")</label>
                    </div>
                    <div class="col-1" title="@_f.tra("Pořadí")">
                        <mynumber asp-for="lisA14[i].a14Ordinal" decimal-digits="0"></mynumber>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_row_a14('@(Model.lisA14[i].TempGuid)')">x</button>
                    </div>

                </div>
            }
        </div>
    </div>


</div>
<input type="hidden" id="hidF06IDs" />




<button type="button" id="cmdClear" class="btn btn-warning btn-sm" style="display:none;" onclick="clear_all()">@_f.tra("Vyčistit vše")</button>

<script type="text/javascript">
    $(document).ready(function () {



    });

    function handle_f06id_append(f06id) {
        if (f06id == "") {
            _notify_message("@_f.tra("Musíte vybrat formulář.")");
            return;
        }

        form1.action = "/a08/Record?oper=add&f06id=" + f06id;
        form1.submit();
    }
    function handle_delete_row(guid) {
        form1.action = "/a08/Record?oper=delete&guid=" + guid;
        form1.submit();

    }

    

    function clear_all() {

    }

    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=f06");
    }
    function refresh_f06_table(f06ids) {
        var f06ids = $("#hidF06IDs").val();
        form1.action = "/a08/Record?oper=addmultiple&f06ids=" + f06ids;
        form1.submit();

    }


    function handle_delete_row_a14(guid) {
        form1.action = "/a08/Record?oper=delete_a14&guid=" + guid;
        form1.submit();

    }

    function create_a14() {

        form1.action = "/a08/Record?oper=create_a14";
        form1.submit();
        
    }

</script>



