@model UI.Models.Dashboard.DashboardHelpdesk
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Helpdesk") + ": " + Model.Rec.FullNameAsc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI

<div id="divHeader" class="row py-1 bg-light m-0 mb-4">
    <div class="col-auto">
        <ul class="nav nav-tabs nonmobile nontablet" style="border:none;">
            <li class="nav-item onetab">
                <a class="nav-link active" data-toggle="tab">@Model.Rec.FullNameAsc</a>
            </li>
        </ul>


    </div>
    <div class="nonmobile nontablet col-auto">
        <a class="btn btn-light" href="/Dashboard/HdSlave" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" href="/a01createhelpdesk">@_f.tra("Nový požadavek")</a>
    </div>
    <div class="col-auto">
        <mysearch asp-for="@Model.SearchBoxA01" entity="a01Event" placeholder="@_f.tra("Fulltext")..."></mysearch>
    </div>
    
</div>


<div class="tabs_container">
    <ul id="navtabs" class="nav nav-tabs">
        @foreach (var tab in Model.NavTabs)
        {
            <li class="nav-item onetab">
                <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                    @tab.Name
                    @if (tab.Badge != null)
                    {
                        <span class="badge bg-primary">@tab.Badge</span>
                    }
                </a>
            </li>
        }
    </ul>
</div>

<div id="divTabContent">
    <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="0" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
</div>







<script type="text/javascript">
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {

        var offset = $("#divTabContent").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical);

        if (_device.type === "Phone") {
            h_vertical = 400;
        }

        $("#divTabContent").css("height", h_vertical + "px");

        _mainmenu_highlight_current("cmdHome");

    });


    function reload() {
        _showloading();
        location.replace("/Dashboard/HdSlave");
    }


    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele

        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
        $.post("/Common/SetUserParam", { key: "dashboard-tab-hdslave", value: tab.id.replace("tab", "") }, function (data) {


        });
    }


   

</script>
