@model UI.Models.Dashboard.DashboardInspector
@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Osobní stránka inspektora") + ": " + Model.Rec.FullNameAsc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI

<h4>@ViewData["Title"]</h4>

<div class="row py-3 bg-light m-0">

    <div class="col-sm-4">
        <mysearch asp-for="@Model.SearchBoxA01" entity="a01Event" placeholder="@_f.tra("Fulltext: Akce")..."></mysearch>
    </div>
    <div class="col-sm-4">
        <mysearch asp-for="@Model.SearchBoxA03" entity="a03Institution" placeholder="@_f.tra("Fulltext: Instituce")..."></mysearch>
    </div>
    <div class="col-sm-1"></div>
    <div class="nonmobile nontablet">
        <a class="btn btn-secondary" href="/Dashboard/Inspector">@(_f.tra("Občerstvit"))</a>
    </div>




</div>

