@model UI.Models.Record.j04Record
@inject BL.Factory _f
@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Aplikační role");
}
@addTagHelper *, UI



<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item onetab">
            <a id="link_tab1" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab1">@_f.tra("Vlastnosti")</a>
        </li>
        <li class="nav-item onetab">
            <a id="link_tab2" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab2">@_f.tra("Oprávnění")</a>
        </li>
        <li class="nav-item onetab">
            <a id="link_tab6" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab6">@_f.tra("Widgety")</a>
        </li>
        @if (_f.App.Implementation == "Default")
        {
            <li class="nav-item onetab">
                <a id="link_tab3" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab3">@_f.tra("Oprávnění")</a>
            </li>

            <li class="nav-item onetab">
                <a id="link_tab4" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab4">@_f.tra("Portál")</a>
            </li>
            <li class="nav-item onetab">
                <a id="link_tab5" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab5">@_f.tra("Ostatní")</a>
            </li>
        }

    </ul>
</div>


<div class="modal_record_container">
    <div class="tab-content">
        <div class="tab-pane" id="tab1" role="tabpanel">

            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.j04Name" />

                </div>
                <div class="col-sm-2 col-md-2">
                    ID: <span>@(Model.Rec.pid)</span>
                </div>
            </div>
            <div class="row my-2">

                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("URL CORE stránky"):</label>
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.j04ViewUrl_Page" />

                </div>
            </div>
            <div class="row my-2">

                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("URL ASPX stránky"):</label>
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.j04Aspx_PersonalPage" />

                </div>
            </div>
            <div class="row my-2">


                <div class="col-sm-10 col-md-10">
                    <select asp-for="@Model.Rec.j04RelationFlag" class="form-select" onchange="dopostback()" style="background-color:yellow;">
                        <option value="NoRelation">@_f.tra("Aplikační role bez omezení uživatele podle jeho vztahu k instituci nebo k inspektorátu")</option>
                        <option value="A03">@_f.tra("Aplikační role s omezením na příslušnost uživatele k instituci")</option>
                        <option value="A05">@_f.tra("Aplikační role s omezením na příslušnost osoby uživatele ke kraji podle inspektorátu")</option>
                    </select>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-sm-4 col-md-4">
                    <input type="checkbox" asp-for="Rec.j04IsAllowInSchoolAdmin" />
                    <label class="col-form-label" for="Rec_j04IsAllowInSchoolAdmin">@_f.tra("Role dostupná ve správě školních účtů")</label>
                </div>
            </div>
            @if (_f.App.Implementation == "Default")
            {
                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vztah role k portálu"):</label>
                    <div class="col-sm-9 col-md-8">
                        <select asp-for="@Model.Rec.j04PortalFaceFlag" class="form-select">
                            <option value="CSI">ČŠI uživatel</option>
                            <option value="School">@_f.tra("Škola")</option>
                            <option value="Founder">@_f.tra("Zřizovatel školy")</option>
                            <option value="Anonymous">@_f.tra("Veřejnost")</option>
                        </select>

                    </div>
                </div>
            }



            <div class="row my-2">
                <div class="col-sm-4 col-md-4">
                    <input type="checkbox" asp-for="Rec.j04IsAllowedAllEventTypes" onchange="dopostback()" />
                    <label class="col-form-label" for="Rec_j04IsAllowedAllEventTypes">@_f.tra("Možnost zakládat i číst všechny typy akcí")</label>
                </div>
            </div>

            @if (Model.Rec.j04IsAllowedAllEventTypes == false)
            {
                <div class="card">
                    <div class="card-header">
                        @_f.tra("Okruh přístupných typů akcí pro aplikační roli")
                        <button type="button" class="btn btn-primary" onclick="handle_j08_append()">@_f.tra("Přidat typ akce")</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            @for (var i = 0; i < Model.lisJ08.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div class="row" style="@(Model.lisJ08[i].CssTempDisplay)">
                                            <input type="hidden" asp-for="lisJ08[i].IsTempDeleted" value="@Model.lisJ08[i].IsTempDeleted" />
                                            <input type="hidden" asp-for="lisJ08[i].TempGuid" value="@Model.lisJ08[i].TempGuid" />

                                            <div class="col-sm-6 col-md-6">
                                                <mycombo entity="a10EventType" asp-for="lisJ08[i].a10ID" selectedtext="lisJ08[i].a10Name" placeholder="@_f.tra("Typ akce")..." view-flag="2"></mycombo>
                                            </div>
                                            <div class="col-sm-5 col-md-5">
                                                <input type="checkbox" asp-for="lisJ08[i].j08IsAllowedCreate" />
                                                <label class="col-form-label" for="@("lisJ08_"+i.ToString()+"__j08IsAllowedCreate")">@_f.tra("Oprávnění zakládat akce")</label>

                                                <input type="checkbox" asp-for="lisJ08[i].j08IsLeader" />
                                                <label class="col-form-label" for="@("lisJ08_"+i.ToString()+"__j08IsLeader")">@_f.tra("Oprávnění vedoucího akce")</label>
                                                <br />
                                                <input type="checkbox" asp-for="lisJ08[i].j08IsAllowedRead" />
                                                <label class="col-form-label" for="@("lisJ08_"+i.ToString()+"__j08IsAllowedRead")">@_f.tra("Oprávnění číst všechny akce v systému")</label>

                                                <input type="checkbox" asp-for="lisJ08[i].j08IsMember" />
                                                <label class="col-form-label" for="@("lisJ08_"+i.ToString()+"__j08IsMember")">@_f.tra("Oprávnění člena akce")</label>
                                            </div>

                                            <div class="col-1">
                                                <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_j08('@(Model.lisJ08[i].TempGuid)')">x</button>
                                            </div>

                                        </div>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>


            }

        </div>
        <div class="tab-pane" id="tab2" role="tabpanel">
            <!-- Tab2 -->
            <p></p>
            @if (_f.CurrentUser.j03LangIndex == 2)
            {
                <mycheckboxlist asp-for="@Model.SelectedJ05IDs_EPIS1" textfield="NamePlusLang2" valuefield="j05ID" datasource="@Model.lisJ05_EPIS1"></mycheckboxlist>
            }
            else
            {
                <mycheckboxlist asp-for="@Model.SelectedJ05IDs_EPIS1" textfield="j05Name" valuefield="j05ID" datasource="@Model.lisJ05_EPIS1"></mycheckboxlist>
            }



        </div>
        <div class="tab-pane" id="tab6" role="tabpanel">
            <!-- Tab6 -->
            <p></p>
            <div class="row">

                <label class="col-sm-2 col-md-3 col-form-label">@_f.tra("Výchozí paleta widgetů pro inspektora"):</label>
                <div class="col-sm-10 col-md-9">
                    <input class="form-control" asp-for="Rec.j04DefaultWidgets_Inspector" />

                </div>
            </div>
            <div class="row my-2">

                <label class="col-sm-2 col-md-3 col-form-label">@_f.tra("Výchozí paleta widgetů pro školu"):</label>
                <div class="col-sm-10 col-md-9">
                    <input class="form-control" asp-for="Rec.j04DefaultWidgets_School" />

                </div>
            </div>

        </div>
        @if (_f.App.Implementation == "Default")
        {
            <div class="tab-pane" id="tab3">
                <!-- Tab3 -->
                <p></p>

                <mycheckboxlist asp-for="@Model.SelectedJ05IDs_EPIS2" textfield="j05Name" valuefield="j05ID" datasource="@Model.lisJ05_EPIS2"></mycheckboxlist>
            </div>

            <div class="tab-pane" id="tab4">
                <!-- Tab4 -->
                <p></p>
                <mycheckboxlist asp-for="@Model.SelectedJ05IDs_PORTAL" textfield="j05Name" valuefield="j05ID" datasource="@Model.lisJ05_PORTAL"></mycheckboxlist>

            </div>
            <div class="tab-pane" id="tab5">
                <!-- Tab5 -->
                <p></p>

            </div>
        }


    </div>



</div>



<script type="text/javascript">
    $(document).ready(function () {





    });


    function dopostback() {
        form1.action = "/j04/Record?oper=postback";
        form1.submit();
    }

    function handle_j08_append() {
        form1.action = "/j04/Record?oper=add_j08";
        form1.submit();
    }
    function handle_delete_j08(guid) {
        form1.action = "/j04/Record?oper=delete_j08&guid=" + guid;
        form1.submit();

    }
</script>


