@model UI.Models.Record.b65Record
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Šablona notifikační zprávy");
}
@addTagHelper *, UI

    <div class="modal_record_container">
        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Entita"):</label>
            <div class="col-sm-5 col-md-4">
                
                <select class="form-select" asp-for="Rec.x29ID">
                    <option value="0">------</option>
                    <option value="101">@_f.tra("Akce")</option>
                    <option value="103">@_f.tra("Instituce")</option>
                    <option value="502">@_f.tra("Osoba")</option>
                    <option value="406">@_f.tra("Formulář")</option>
                    <option value="111">@_f.tra("Formulář v akci")</option>
                    <option value="201">@_f.tra("Workflow šablona")</option>
                    <option value="604">@_f.tra("Úkol")</option>
                </select>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b65Name" />
                <span asp-validation-for="Rec.b65Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Předmět zprávy"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b65MessageSubject" />
                <span asp-validation-for="Rec.b65MessageSubject" class="text-danger"></span>
            </div>
        </div>



        <div class="row my-2">
            <textarea asp-for="Rec.b65MessageBody" class="form-control" placeholder="@_f.tra("Tělo zprávy")"></textarea>
            <span asp-validation-for="Rec.b65MessageBody" class="text-danger"></span>
        </div>

        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Příznak pro systém"):</label>
            <div class="col-sm-11 col-md-10">
                <select asp-for="@Model.Rec.b65SystemFlag" class="form-control">                    
                    <option value="None">@_f.tra("Bez příznaku")</option>                    
                    <option value="UserAccountLocked">@_f.tra("Zpráva o automatickém zablokování uživatelského účtu")</option>
                </select>
            </div>
        </div>

    </div>





<script type="text/javascript">
    $(document).ready(function () {



    });






</script>




