@model UI.Models.Record.a42Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("INEZ");
}
@addTagHelper *, UI

<input type="hidden" asp-for="@Model.Rec.a42JobGuid" />
    <div class="modal_record_container">

        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.a42Name" />
                <span asp-validation-for="Rec.a42Name" class="text-danger"></span>
            </div>

        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Poštovní účet"):</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="j40MailAccount" asp-for="Rec.j40ID" selectedtext="Rec.j40SmtpEmail" view-flag="2"></mycombo>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Režim"):</label>
            <div class="col-sm-5 col-md-5">
                <select asp-for="@Model.Rec.a42TestFlag" class="form-select">
                    <option value="0"></option>
                    <option value="1">@_f.tra("Testování: Neodesílat poštovní zprávy")</option>
                </select>
            </div>

        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Plánované období od"):</label>
            <div class="col-sm-2 col-md-2">
                <mydate asp-for="Rec.a42DateFrom" include-time="false"></mydate>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Do"):</label>

            <div class="col-sm-2 col-md-2">
                <mydate asp-for="Rec.a42DateUntil" include-time="false"></mydate>
            </div>

        </div>

        <mystitky entity="a42Qes" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>

        <div class="row my-2">
            <textarea asp-for="Rec.a42Description" class="form-control" style="height:150px;" placeholder="@_f.tra("Podrobný popis")"></textarea>
            <span asp-validation-for="Rec.a42Description" class="text-danger"></span>
        </div>

        @if (Model.Rec.a42JobState == BO.a42JobState.MailQueue || Model.Rec.a42JobState == BO.a42JobState.PreparedX40)
        {
            <div class="row my-2">
                <button type="button" id="cmdStopMailing" class="btn btn-warning">@_f.tra("Zastavit odesílání poštovních zpráv")</button>
            </div>
            <hr />
        }
        @if (Model.Rec.a42JobState == BO.a42JobState.MailQueueStopped)
        {
            <div class="row my-2">
                <button type="button" id="cmdStartMailing" class="btn btn-primary">@_f.tra("Obnovit odesílání poštovních zpráv")</button>
            </div>
        }


        <div class="card">
            <div class="card-header">
                @_f.tra("Změnit plánované období")
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Plánované období od"):</label>
                    <div class="col-sm-2 col-md-2">
                        <mydate asp-for="@Model.ChangeDateFrom" include-time="false"></mydate>
                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Do"):</label>

                    <div class="col-sm-2 col-md-2">
                        <mydate asp-for="@Model.ChangeDateUntil" include-time="false"></mydate>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <button type="button" id="cmdChangePeriod" class="btn btn-light">Uložit změny</button>
                    </div>
                </div>
            </div>
        </div>
        @if (_f.IsUserAdmin())
        {
            <hr />
            <div class="my-2">
                <button type="button" id="cmdDeleteComplete" class="btn btn-danger">@_f.tra("Odstranit dávku včetně akcí")</button>
            </div>
        }

    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#cmdChangePeriod").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);

            form1.action = "/a42/Record?oper=changeperiod";
            form1.submit();

        });

        $("#cmdStopMailing").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);

            form1.action = "/a42/Record?oper=stopmailing";
            form1.submit();

        });

        $("#cmdStartMailing").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);

            form1.action = "/a42/Record?oper=startmailing";
            form1.submit();

        });
        
        

        $("#cmdDeleteComplete").click(function () {
            if (confirm("@_f.tra("Opravdu nenávratně odstranit tuto dávku včetně akcí?")")) {
                $(this).text("Processing...");
                $(this).attr("disabled", true);

                form1.action = "/a42/Record?oper=deletecomplete";
                form1.submit();
            }


        });


    });

</script>

