@model StatViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewData["Title"] = _f.tra("Statistiky akcí");
}

@addTagHelper *, UI

@section header_content
{
    <link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
}

<script src="/kendo/js/kendo.core.min.js"></script>
<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>

<style type="text/css">

   
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/hummingbird-treeview/hummingbird-treeview.css" rel="stylesheet">
<script src="/lib/hummingbird-treeview/hummingbird-treeview.js"></script>

<h4 class="px-2">@ViewData["Title"]</h4>


<form id="form1" asp-controller="Stat" asp-action="Index" method="POST">
    <input type="hidden" id="hidF06IDs" asp-for="@Model.f06IDs" value="@Model.f06IDs" />
    <input type="hidden" asp-for="@Model.f19IDs" />
    <input type="hidden" asp-for="@Model.CheckedIDs" />
    <input type="hidden" id="guid" asp-for="@Model.guid" value="@Model.guid" />
    <input type="hidden" asp-for="@Model.GridGuid" value="@Model.GridGuid" />
    <input type="hidden" asp-for="@Model.GridContainerCssStyle" value="@Model.GridContainerCssStyle" />
    <input type="hidden" asp-for="@Model.GridColumns" value="@Model.GridColumns" />
    <input type="hidden" asp-for="@Model.GridHeaders" value="@Model.GridHeaders" />
    <input type="hidden" asp-for="@Model.TreeContainerHeight" />
    <input type="hidden" asp-for="@Model.GuidAddFilter" />

    <div class="bg-light" style="padding:10px;">
        <div class="form-row" style="max-width:1000px;">
            <div class="col-sm-6 col-md-6">
                <button id="cmdRunGrid" class="btn btn-success">@_f.tra("Vygenerovat výsledek do GRIDu")</button>
                <button id="cmdRunExcel" class="btn btn-info">@_f.tra("Vygenerovat výsledek do XLS")</button>

            </div>
            <div class="col-sm-3 col-md-3">
                <select asp-for="@Model.ValuesMode">
                    <option value="Nazev">@_f.tra("Odpovědi ve formátu [Název odpovědi]")</option>
                    <option value="StatID">@_f.tra("Odpovědi ve formátu [STAT ID]")</option>
                    <option value="PID">@_f.tra("Odpovědi ve formátu [PID]")</option>
                </select>
                <div>
                    <input type="checkbox" asp-for="@Model.IsZeroRow" />
                    <label class="col-form-label" for="IsZeroRow">@_f.tra("V prvním XLS řádku názvy otázek")</label>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <select asp-for="@Model.GroupByMode">
                    <option value="NoGroup">@_f.tra("Data vůbec neshlukovat")</option>
                    <option value="GroupByA01">@_f.tra("Data shlukovat podle akce+SF")</option>
                    <option value="GroupByA03">@_f.tra("Data shlukovat podle instituce (školy)")</option>
                    <option value="GroupByA37">@_f.tra("Data shlukovat podle činnosti školy")</option>
                </select>
                <div>
                    <input type="checkbox" asp-for="@Model.IsBlankA11IDs" />
                    <label class="col-form-label" for="IsBlankA11IDs">@_f.tra("Zahrnout i formuláře bez odpovědí")</label>
                </div>
            </div>

        </div>


    </div>


    <div class="tabs_container_record">
        <!-- Tab panes -->
        <ul class="nav nav-tabs">
            <li class="nav-item onetab">
                <a id="link_tab1" class="nav-link" data-toggle="tab" href="#tab1">@_f.tra("Formuláře a otázky")</a>
            </li>
            <li class="nav-item onetab">
                <a id="link_tab2" class="nav-link" data-toggle="tab" href="#tab2">@_f.tra("Filtrování dat")</a>
            </li>
            <li class="nav-item onetab">
                <a id="link_tab3" class="nav-link" data-toggle="tab" href="#tab3">@_f.tra("Výsledek")</a>
            </li>

        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div style="padding:10px;">
                <button type="button" class="btn btn-primary" onclick="multiselect()">@_f.tra("Přidat formulář")</button>

            </div>
            @if (Model.lisF06 != null)
            {
                <table class="table table-sm table-hover">
                    @foreach (var c in Model.lisF06)
                    {
                        <tr>
                            <td style="width:20px;">
                                <image src="/Images/form.png"></image>
                            </td>
                            <td>
                                @c.f06Name
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" title="@_f.tra("Vyjmout formulář")" onclick="handle_delete_f06(@c.pid)">x</button>
                            </td>
                        </tr>
                    }
                </table>
            }
            <div id="offset1"></div>
            <div id="divTreeviewContainer" style="overflow:auto;max-width:1000px;">
                <kendotree clientid="tree1" tree-datasource="@Model.treeNodes"></kendotree>

                <div class="hummingbird-treeview-converter">
                    @if (Model.lisF06 != null)
                    {
                        @foreach (var cF06 in Model.lisF06)
                        {
                            <li id="item-f06-@cF06.pid" data-id="f06-@cF06.pid">@cF06.f06Name</li>
                            @foreach (var cF18 in Model.lisF18.Where(p => p.f06ID == cF06.pid))
                            {
                                <li id="item-f18-@cF18.pid" data-id="f18-@cF18.pid">@(new string('-',cF18.f18TreeLevel)+cF18.f18Name)</li>
                                @foreach (var cF19 in Model.lisF19.Where(p => p.f18ID == cF18.pid))
                                {
                                    <li id="item-f19-@cF19.pid" data-id="f19-@cF19.pid">@(new string('-',cF18.f18TreeLevel+1)+cF19.pid.ToString()+" - "+cF19.f19Name)</li>
                                }
                            }
                        }
                    }


                </div>
            </div>


        </div>
        <div class="tab-pane" id="tab2">
            <div style="max-width:1000px;">
                @Html.EditorFor(m => m.PeriodFilter, "~/Views/Shared/_Period.cshtml")
            </div>
            @if (Model.lisJ72 != null)
            {
                <div class="form-row my-4" style="max-width:1000px;">

                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Pojmenovaný GRID filtr"):</label>
                    <div class="col-sm-7 col-md-7">
                        <mydropdown asp-for="@Model.SelectedJ72ID" datasource="@Model.lisJ72" textfield="j72Name" valuefield="pid" firstemptyrowvalue="0" isfirstemptyrow="true" event_after_changevalue="j72id_change"></mydropdown>

                    </div>

                </div>
            }
            <div class="form-row-my-4">
                <div class="col-sm-2 col-md-2">
                    <button id="cmdRefreshAddQuery" type="button" class="btn btn-light" onclick="handle_submit('/Stat/Index?oper=postback')">@_f.tra("Obnovit formulářový filtr")</button>
                </div>
                <div class="col-sm-6 col-md-6">
                    @if (Model.lisCols != null)
                    {
                        <mydropdown datasource="@Model.lisCols" textfield="ComboText" valuefield="ComboValue" asp-for="@Model.SelectedAddQueryField"></mydropdown>
                    }
                </div>
                <div class="col-sm-1 col-md-1">
                    <button type="button" class="btn btn-light" onclick="handle_submit('/Stat/Index?oper=addfilter')">@_f.tra("Vložit do filtru")</button>
                </div>
            </div>
            <table class="table table-sm table-hover">
                @for (int i = 0; i < Model.lisTemp.Count(); i++)
                {
                    <tr style="@Model.lisTemp[i].CssTempDisplay">
                        <td>
                            <input type="hidden" asp-for="@Model.lisTemp[i].p85GUID" value="@Model.lisTemp[i].p85GUID" />
                            <input type="hidden" asp-for="@Model.lisTemp[i].p85IsDeleted" value="@Model.lisTemp[i].p85IsDeleted" />
                            <input type="hidden" asp-for="@Model.lisTemp[i].p85FreeText01" value="@Model.lisTemp[i].p85FreeText01" />
                            <input type="hidden" asp-for="@Model.lisTemp[i].p85FreeText02" value="@Model.lisTemp[i].p85FreeText02" />

                            <mydropdown asp-for="@Model.lisTemp[i].p85FreeText03" datasource="@Model.lisVztah" valuefield="Key" textfield="Value"></mydropdown>

                        </td>
                        <td>
                            @Model.lisTemp[i].p85FreeText02
                        </td>
                        <td>
                            <mydropdown asp-for="@Model.lisTemp[i].p85FreeText04" datasource="@Model.lisOperator" valuefield="Key" textfield="Value"></mydropdown>

                        </td>
                        <td>
                            <input type="text" asp-for="@Model.lisTemp[i].p85FreeText05" />
                        </td>
                        <td style="width:20px;">
                            <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_temp(@i)">x</button>
                        </td>
                    </tr>
                }
            </table>

        </div>
        <div class="tab-pane" id="tab3">


            @if (Model.XlsExportTempFileName != null)
            {
                <div style="padding:20px;background-color:lightgoldenrodyellow;">
                    <a target="_blank" style="font-weight:bold;" href="/FileUpload/FileDownloadTempFile?tempfilename=@Model.XlsExportTempFileName">@_f.tra("Otevřít vygenerovaný XLS dokument")</a>
                </div>

            }
        </div>
    </div>





</form>


@if (Model.GridGuid != null)
{
    <div id="divGridContainer" style="@Model.GridContainerCssStyle">
        <vc:the-grid entity="p86TempStat" j72id="0" go2pid="0" master_entity="" master_pid="0" contextmenuflag="1" ondblclick="" master_flag="" masterviewflag="3" addfilterid="stat" fixedcolumns="@Model.GridColumns"></vc:the-grid>
    </div>
}

<script type="text/javascript">


    $(document).ready(function () {
        @if (Model.lisF06 !=null)
        {
        <text>
        var thetree1 = $("#tree1").kendoTreeView(
            {
                checkboxes: {
                    checkChildren: true
                },
                dataSource: dstree1,
                check: onCheck
            }
        );
        </text>
        }

        $("#treeview").hummingbird();

        @if (!string.IsNullOrEmpty(Model.CheckedIDs))
        {
            <text>
            var pre_check = "@Model.CheckedIDs".split(",");

            $.each(pre_check, function (i, e) {
                $("#treeview").hummingbird("checkNode", { attr: "id", name: e, expandParents: true });
            });
            </text>
        }

    @if(Model.GridGuid != null && Model.ActiveTabIndex !=3)
        {
            <text>
            $("#divGridContainer").css("display", "none");
            </text>
        }

        $("#tab@(Model.ActiveTabIndex)").attr("class", "tab-pane active");
            $("#link_tab@(Model.ActiveTabIndex)").attr("class", "nav-link active");

            $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                // v e.target.id je id kliknutá záložka
                var tabindex = e.target.id.substring(e.target.id.length - 1, e.target.id.length);
                $("#ActiveTabIndex").val(tabindex);
                if (tabindex == "3") {
                    $("#divGridContainer").css("display", "block");
                } else {
                    $("#divGridContainer").css("display", "none");
                }

            })




        $("#cmdRunGrid").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);

            handle_submit("/Stat/Index?oper=grid");

        });

        $("#cmdRunExcel").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            handle_submit("/Stat/Index?oper=excel");

        });


        $("#PeriodValue").on("change", function () {
            $.post("/Common/SetUserParam", { key: "stat-period-value", value: $(this).val() }, function (data) {

                handle_submit("/Stat/Index?oper=change_period");

            });
        });


        $("#cmdRefreshPeriod").on("click", function () {
            var k = [];
            var v = [];
            k.push("stat-period-value");
            v.push($("#PeriodValue").val());
            k.push("stat-period-d1");
            v.push($("#d1helper").val());
            k.push("stat-period-d2");
            v.push($("#d2helper").val());


            $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
                handle_submit("/Stat/Index?oper=change_period");

            });

        });


        var h = $("#GridHeaders").val();
        var c = $("#GridColumns").val();
        if (c != "") {
            var arrh = h.split(",");
            var arrc = c.split(",");
            for (var i = 0; i <= arrc.length - 1; i++) {
                if (arrh[i] != "") {
                    $("#th_" + arrc[i]).text(arrh[i]);
                }
            }
        }

        if ($("#TreeContainerHeight").val() == "") {
            var offset = $("#offset1").offset();
            var h_vertical = _device.innerHeight - offset.top;
            h_vertical = parseInt(h_vertical) + 10;

            $("#TreeContainerHeight").val(h_vertical + "px")
            $("#divTreeviewContainer").css("height", h_vertical + "px");
        } else {
            $("#divTreeviewContainer").css("height", $("#TreeContainerHeight").val());
        }





    });


    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=f06");
    }

    function refresh_f06_table(f06ids) {
        //volá se automaticky po výběru formulářů
        //$("#hidF06IDs").val(f06ids);
        handle_submit("/Stat/Index?oper=add_f06ids");


    }

    function handle_delete_f06(f06id) {
        handle_submit("/Stat/Index?oper=remove_f06id&f06id=" + f06id);

    }
    function handle_delete_temp(i){
        handle_submit("/Stat/Index?oper=delete_temp&index=" + i);
    }

    function handle_checked_ids() {
        var List = { "id": [], "dataid": [], "text": [] };
        $("#treeview").hummingbird("getChecked", { list: List, onlyEndNodes: true, onlyParents: false, fromThis: false });
        $("#CheckedIDs").val(List.id.join(","));

    }
    function change_temp_freetext03(i) {

    }


    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }


    function handle_submit(action) {
        handle_checked_ids();
        form1.action = action;
        form1.submit();
    }


    function onCheck(e) {
        var checkedNodes = [];
        var treeView = $("#tree1").data("kendoTreeView");
        var message;

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            message = "IDs of checked nodes: " + checkedNodes.join(",");
        } else {
            message = "No nodes checked.";
        }

        alert(message);
    }
</script>



