@model UI.Models.Ginis.ImportGinisDocViewModel
@inject BL.Factory _f

@{
    Model.PageTitle = "Načíst dokument ze spisové služby GINIS";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI

<h4>Načíst dokument ze spisové služby GINIS do akce: @(Model.RecA01.a01Signature)</h4>
<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="button" class="btn btn-success">Uložit změny</button>
    <button id="cmdClose" type="button" onclick="_window_close()" class="btn btn-light">Zavřít</button>
    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>Nápověda</button>
</div>

<form id="form1" asp-controller="Ginis" asp-action="ImportGinisDoc" method="POST">
    <input type="hidden" asp-for="@Model.a01id" />

    <div class="modal_record_container">
        <div class="alert alert-primary" role="alert">
            <label style="font-weight:bold;">Číslo akce:</label>
            @Model.RecA01.a01Signature
            <label style="font-weight:bold;">Typ akce:</label>
            @Model.RecA01.a10Name
            <label style="font-weight:bold;margin-left:20px;">Téma akce:</label>
            @Model.RecA01.a08Name
            <label style="font-weight:bold;margin-left:20px;">@(Model.RecA01.a06Name+":")</label>
            @Model.RecA01.a03Name
        </div>

        <div class="row my-2">
            <label class="col-sm-2 col-md-3 col-form-label">GINIS spis:</label>
            <div class="col-sm-4 col-md-3">
                <a href="@Model.GinisSpisUrl" target="_blank">@Model.RecA01.a01CaseCode</a>
            </div>
        </div>
        <div class="row my-2">
            <label class="col-sm-2 col-md-3 col-form-label">SPIS (sp. zn. nebo PID):</label>
            <div class="col-sm-4 col-md-3">
                <input type="text" class="form-control" asp-for="@Model.InputSpis" />
            </div>
            <div class="col-sm-3 col-md-3">
                <button type="button" class="btn btn-sm btn-primary" onclick="postback()">Občerstvit</button>
            </div>

        </div>

        <div class="row my-2">
            <label class="col-sm-2 col-md-3 col-form-label">Dokumenty ve spisu::</label>
            <div class="col-sm-7 col-md-6">
                <select asp-for="@Model.SelectedDokumentCombo" class="form-select" onchange="select_document(this)">
                    @foreach (var c in Model.lisDokument)
                    {
                        <option value="@c.IdDokumentu">@(c.Vec+" ("+c.PriznakCj+")")</option>
                    }
                </select>
            </div>
        </div>

        <div class="row my-2">
            <label class="col-sm-2 col-md-3 col-form-label">Vybraný dokument (ČJ nebo PID):</label>
            <div class="col-sm-4 col-md-3">
                <input type="text" class="form-control" asp-for="@Model.InputDokument" id="txtInputDokument" value="@Model.InputDokument" />
            </div>
           

        </div>


        @if (Model.RecGinisDokument != null && Model.RecGinisDokument.IdDokumentu !=null)
        {
            <div class="card" id="divDocument">
                <div class="card-header">
                    Detail načteného dokumentu @(Model.InputDokument)
                </div>
                <div class="card-body">
                    <table cellpadding="2" cellspacing="2">
                        <tr>
                            <td style="min-width:120px;">
                                Věc:
                            </td>
                            <td>
                                <strong>
                                    @Model.RecGinisDokument.Vec
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Soubor:
                            </td>
                            <td>
                                <strong>
                                    @Model.RecGinisDokument.JmenoSouboru
                                </strong>
                                <br />
                                <i>
                                    @Model.RecGinisDokument.PopisSouboru
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ČJ:
                            </td>
                            <td>
                                <strong>
                                    @Model.RecGinisDokument.PriznakCj
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Soubory v dokumentu:
                            </td>
                            <td>
                                <select asp-for="@Model.SelectedSouborCombo" class="form-select">
                                    @if (Model.lisSouboryDokumentu != null)
                                    {
                                        @foreach (var c in Model.lisSouboryDokumentu)
                                        {
                                            <option value="@c.IdSouboru">@(c.TypVazby+": "+c.JmenoOrigSouboru+" ("+c.PopisSouboru+")")</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Do InspIS vložit jako typ:
                            </td>
                            <td>
                                <mydropdown asp-for="@Model.SelectedO13ID" datasource="@Model.lisO13" textfield="TreeItem" valuefield="pid"></mydropdown>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Popis:
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="@Model.o27Description" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }


    </div>


</form>


<script type="text/javascript">
    $(document).ready(function () {

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();

        });



    });

    function select_document(cbx) {

        $("#txtInputDokument").val(cbx.value);
        $("#divDocument").css("visibility", "hidden");
        postback();

    }
    
    function postback()
    {
        _notify_message("GINIS Loading...", "info");
        form1.action = "/Ginis/ImportGinisDoc?oper=postback";
        form1.submit();
    }


    function nacist_ginis_dokument()
    {
        postback();
    }

</script>
