@inject UIFT.Repository.RepositoryFactory factory
@inject BL.RunningApp app
@{
    var rep = factory.Get();
}
<!-- HEADER -->
<div id="header">
    <div id="header2">
        <img src="~/css/images/logo_@(app.LogoImageSuffix).png?v=1" alt="Logo" class="logo" />
    </div>
</div>

<div class="errorHandler">
    <h1>@rep.BL.trawi("Anketa byla zamkčena", app.DefaultLangIndex)</h1>
    <p><a href="@Url.Action("Index", "Login")">@rep.BL.trawi("Kliknutím zde", app.DefaultLangIndex)</a> @rep.BL.trawi("přejdete na přihlašovací obrazovku k další anketě.", app.DefaultLangIndex)</p>
</div>

<!-- FOOTER -->
<div id="footer">
    Build: @Html.AppVersion()
</div>
