@inject UIFT.Repository.RepositoryFactory factory
@inject BL.RunningApp app
@{
    var rep = factory.Get();
}
<!-- HEADER -->
<div id="header">
    <div id="header2">
        <img src="@app.LogoImage" alt="Logo" class="logo" />
    </div>
</div>

<div class="errorHandler">
    <h1>@rep.BL.tra("Anketa byla zamkčena")</h1>
    <p><a href="@Url.Action("Index", "Login")">@rep.BL.tra("Kliknutím zde")</a> @rep.BL.tra("přejdete na přihlašovací obrazovku k další anketě.")</p>
</div>

<!-- FOOTER -->
<div id="footer">
    Build: @Html.AppVersion()
</div>
