@model LoginModel
@inject UIFT.Repository.RepositoryFactory factory
@inject BL.RunningApp app
@{
    var rep = factory.Get();
}
<div class="loginBox1">
    <h1>
        <img src="~/css/images/logo_@(app.LogoImageSuffix).png?v=1" alt="Logo" class="logo" />
        <span>@app.AppName</span>
    </h1>

    <div id="loginBox">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { autocomplete = "off" }))
        {
            <p><label>@rep.BL.trawi("ID akce:", app.DefaultLangIndex) </label>@Html.TextBoxFor(t => t.Akce)</p>
            <p><label>@rep.BL.trawi("PIN:", app.DefaultLangIndex) </label>@Html.TextBoxFor(t => t.PIN, null, new { autocomplete = "off" })</p>
            if (!ViewData.ModelState.IsValid)
            {
                <div id="loginError">@Html.ValidationSummary()</div>
            }
            <p><button type="submit" class="buttonSmall">@rep.BL.trawi("Přihlásit se", app.DefaultLangIndex)</button></p>

            <input type="hidden" asp-for="@Model.PrihlasenyUzivatel" />
        }
    </div>
</div>
<p class="loginBox2">Build: @Html.AppVersion()</p>

<script type="text/javascript">
    $(function () {
        $("#akce").focus();
    });
</script>
