@model AdminOneWorkflow
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model == null)
    {
        return;
    }
    ViewData["Title"] = Model.RecB01.b01Name;
}

@addTagHelper *, UI

<div class="row py-3 bg-light m-0">
    <div class="col-auto" style="width:190px;">
        <a class="cm h4 mx-0" onclick="_cm(event, 'b01WorkflowTemplate',@Model.b01ID);">☰@_f.tra("Menu")</a>
    </div>
    <div class="col-sm-3 col-md-3">
        <mark>@Model.RecB01.b01Name</mark>
    </div>
    <div class="col-sm-2 col-md-2">
        @if (Model.view == "tree")
        {
            <a class="btn btn-info" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID&view=grid">@_f.tra("Přepnout na Grid")</a>
        }
        else
        {
            <a class="btn btn-info" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID&view=tree">@_f.tra("Přepnout na Strom")</a>
        }

    </div>
    <div class="col-sm-3 col-md-3">
        <button id="cmdNew" type="button" class="btn btn-primary">@_f.tra("Nová workflow šablona")</button>
        <button id="cmdGrid" type="button" class="btn btn-secondary">@_f.tra("Grid workflow šablon")</button>
    </div>

    <div class="nonmobile nontablet">
        <a class="btn btn-secondary" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID">@_f.tra("Občerstvit")</a>
    </div>




</div>

<div id="layout_sidebar" class="cm_recpage" style="overflow-y:auto;"></div>



<div id="layout_main">

    @if (Model.view == "tree")
    {
        <div id="divTree" style="height:400px;overflow:auto;">
            <mytree asp-for="@Model.treeNodes" treestate="@Model.TreeState" expandall="true"></mytree>
        </div>

    }
    else
    {
        <vc:the-grid entity="b02WorkflowStatus" j72id="0" go2pid="@Model.go2pid" master_entity="b01WorkflowTemplate" master_pid="@Model.b01ID" contextmenuflag="1" ondblclick="tg_dblclick" master_flag="" masterviewflag="3" addfilterid="" fixedcolumns=""></vc:the-grid>
    }




</div>


<script type="text/javascript">
    $(document.body).css("overflow", "hidden");


    $(document).ready(function () {
        $("#cmdNew").click(function () {
            _window_open("/b01/Record?pid=0",1,"Nová workflow šablona");
        });
        $("#cmdGrid").click(function () {
            location.replace("/Admin/Workflow?prefix=b01");
        });

        $.post("/Menu/ContextMenu", { entity: "b01WorkflowTemplate", pid:@Model.b01ID }, function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });



        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");
        if (document.getElementById("divTree")) {
            $("#divTree").css("height", h_vertical + "px");
        }

    });


    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }


</script>


