@model AdminOneWorkflow
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model == null)
    {
        return;
    }
    ViewData["Title"] = Model.RecB01.b01Name;
}

@addTagHelper *, UI



@if (Model.view == "tree")
{
    @section header_content{

        <link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
    }

    <script src="/kendo/js/kendo.core.min.js"></script>

    <script src="/kendo/js/kendo.data.min.js"></script>
    <script src="/kendo/js/kendo.treeview.min.js"></script>

    <style type="text/css">
        #tree1 .stav {
            font-weight: bold;
        }

        
    </style>
}


<div class="row py-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'b01WorkflowTemplate',@Model.b01ID);">☰@_f.tra("Návrhář workflow")</a>
        <h4 id="layout_sidebar_contextmenu_onlytext">@_f.tra("Návrhář workflow")</h4>
    </div>
    <div class="col-auto">
        <ul class="nav nav-tabs" style="border:none;">
            <li class="nav-item onetab">
                <a class="nav-link active" data-toggle="tab">@Model.RecB01.b01Name</a>
            </li>
        </ul>        
    </div>
    <div class="col-auto">
        @if (Model.view == "tree")
        {
            <a class="btn btn-info" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID&view=grid">@_f.tra("Přepnout na Grid")</a>
        }
        else
        {
            <a class="btn btn-info" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID&view=tree">@_f.tra("Přepnout na Strom")</a>
        }

    </div>
    <div class="col-auto">
        <button id="cmdNew" type="button" class="btn btn-primary">@_f.tra("Nová workflow šablona")</button>
        <button id="cmdGrid" type="button" class="btn btn-secondary">@_f.tra("Grid workflow šablon")</button>
    </div>

    <div class="nonmobile nontablet">
        <a class="btn btn-light" href="/AdminOneWorkflow/Index?b01id=@Model.b01ID">@_f.tra("Občerstvit")</a>
    </div>




</div>

<div id="layout_sidebar" class="cm_recpage" style="overflow-y:auto;"></div>



<div id="layout_main">

    @if (Model.view == "tree")
    {
        <div id="divTree" style="height:400px;overflow:auto;">
            <kendotree tree-datasource="@Model.treeNodes" clientid="tree1"></kendotree>


        </div>

    }
    else
    {
        <vc:the-grid entity="b02WorkflowStatus" j72id="0" go2pid="@Model.go2pid" master_entity="b01WorkflowTemplate" master_pid="@Model.b01ID" contextmenuflag="1" ondblclick="tg_dblclick" master_flag="" masterviewflag="3" addfilterid="" fixedcolumns=""></vc:the-grid>
    }




</div>


<script type="text/javascript">
    $(document.body).css("overflow", "hidden");


    $(document).ready(function () {
        @if (Model.view == "tree")
        {
        <text>
         $("#tree1").kendoTreeView(
            {
                dataSource: dstree1,
                 template: "<a class='cm' onclick='_cm(event,\"#: item.prefix #\",#: item.recordid #)'>☰</a><span class='#: item.cssclass #' ondblclick='_edit(\"#: item.prefix #\",#: item.recordid #)'> #: item.text # <span style='background-color: #: item.textocas # '>&nbsp;&nbsp;&nbsp;</span></span>"
            }
        );
        </text>
        
        }


        $("#cmdNew").click(function () {
            _window_open("/b01/Record?pid=0",1,"Nová workflow šablona");
        });
        $("#cmdGrid").click(function () {
            location.replace("/Admin/Workflow?prefix=b01");
        });

        $.post("/Menu/ContextMenu", { entity: "b01WorkflowTemplate",flag: "recpage", pid:@Model.b01ID }, function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });



        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");
        if (document.getElementById("divTree")) {
            $("#divTree").css("height", h_vertical + "px");
        }

    });


    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }


</script>


