@model GridMultiSelect

@{
    ViewData["Title"] = "Vybrat záznamy";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}



@addTagHelper *,UI

<div class="bg-light" style="padding:10px;">
    <button id="cmdOK" onclick="ok()" class="btn btn-success">Vybrat</button>
    <button id="cmdClose" onclick="_window_close()" class="btn btn-light">Zavřít</button>
    <mark>@(Model.entityTitle)</mark>
    <i style="margin-left:20px;">Vyberte jeden nebo více záznamů...</i>

</div>

<vc:the-grid entity="@Model.entity" j72id="0" go2pid="@Model.go2pid" master_entity="" master_pid="0" contextmenuflag="0" ondblclick="" master_flag="@Model.master_flag" masterviewflag="3"></vc:the-grid>


<script type="text/javascript">

    /*automaticky volaná událost z thegrid controlu*/
    function thegrid_handle_event(event_name, pid) {

    }

    function ok() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message("Musíte vybrat minimálně jeden záznam.");
            return;
        }

        var prefix = "@Model.prefix";
        var hiddenID = "hid" + prefix.toUpperCase() + "IDs";
        var val = window.parent.document.getElementById(hiddenID).value;
        if (val == "") {
            val = pids;
        } else {
            val = val + "," + pids;
        }
        window.parent.document.getElementById(hiddenID).value = val;

        if (prefix == "a03") {
            window.parent.refresh_a03_table();
        }
        if (prefix == "j02") {
            window.parent.refresh_j02_table();
        }
        if (prefix == "f06") {
            window.parent.refresh_f06_table();
        }
        if (prefix == "f21") {
            window.parent.refresh_f21_table();
        }

        _window_close();
    }

</script>


