@model a01CreateViewModel

@{
    Model.PageTitle = "Nový požadavek";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;
}


@addTagHelper *, UI


<h4 class="px-2">Nový požadavek</h4>

<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" class="btn btn-success">Uložit a odeslat</button>
    <button id="cmdClose" onclick="_window_close()" class="btn btn-light" style="display:none;">Zavřít</button>


</div>


<div class="modal_record_container">
    <form id="form1" asp-controller="a01Create" asp-action="Helpdesk" method="POST">
        <div class="alert alert-primary" role="alert">
            <strong>@Model.RecA10.a10Name</strong>
            <input type="hidden" asp-for="@Model.a10ID" />
            
        </div>

        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">Zadavatel:</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="j02Person" asp-for="@Model.j02ID" selectedtext="@Model.Person" filter-flag="1" event_after_changevalue="j02_change"></mycombo>
            </div>
        </div>
        @if (Model.IsComboA03)
        {
            <div class="row my-2" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Instituce zadavatele:</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="a03Institution" asp-for="@Model.a03ID" selectedtext="@Model.Institution" filter-flag="1" masterprefix="j02" masterpid="@Model.j02ID" event_after_changevalue="a03_change"></mycombo>
                </div>
            </div>
        }
        else
        {
            <div class="row my-2" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Instituce zadavatele:</label>
                <div class="col-sm-11 col-md-10">
                    <input type="text" asp-for="Rec.a01InstitutionPlainText" class="form-control" placeholder="V systému nemáte zavedenou vazbu k instituci, musíte ji zde specifikovat ručně..." />
                </div>
            </div>

        }

        <div class="row my-2" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Téma požadavku:</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="a08Theme" asp-for="Rec.a08ID" selectedtext="Rec.a08Name" masterprefix="a10" masterpid="@Model.a10ID" event_after_changevalue="a08_change"></mycombo>
            </div>
        </div>
        <div class="row my-4">
            <textarea asp-for="Rec.a01Description" class="form-control" placeholder="Podrobný popis problému"></textarea>
            <span asp-validation-for="Rec.a01Description" class="text-danger"></span>
        </div>


    </form>
</div>


<script type="text/javascript">

    $(document).ready(function () {



        $("#Rec_a01Description").each(function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";

            $(this).on("input", function () {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight) + "px";
            });
        });

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();


        });


    });




    function a03_change(a03id) {

    }
    function a08_change(a08id) {

    }

    function j02_change(j02id) {
        $("#j02ID").val(j02id);
        form1.action = "/a01Create/Helpdesk?oper=j02_change";
        form1.submit();
    }
</script>


