@model a01CreateViewModel
@inject BL.RunningApp _app
@inject BL.Factory _f

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";

    string _header = @_f.tra("Vyberte typ akce");
    if (_app.Implementation == "HD")
    {
        _header = @_f.tra("Vyberte typ požadavku");
    }
    ViewData["Title"] = _header;
}

@addTagHelper *, UI

    <h4>@_header</h4>


<div class="bg-light" style="padding:10px;">
    <button id="cmdContinue" onclick="gonext()" class="btn btn-primary">@_f.tra("Pokračovat")</button>
    <button id="cmdClose" onclick="_window_close()" class="btn btn-light" style="display:none;">@_f.tra("Zavřít")</button>


</div>


<div class="modal_record_container">
    <mycombo entity="a10EventType" asp-for="@Model.a10ID" selectedtext="@Model.a10Name" placeholder="@(_header+"...")"></mycombo>


</div>


<script type="text/javascript">

    function gonext() {
        if ($("#a10ID").val() == "0") {
            _notify_message("Musíte vybrat typ.");
            return;
        }
        location.replace("/a01Create/Index?a10id=" + $("#a10ID").val());

    }



</script>




