@model a01CreateViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Založit novou akci");
}


@addTagHelper *, UI


<h4 class="px-2">@Model.RecA10.a10Name</h4>

<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" class="btn btn-success">@_f.tra("Uložit změny")</button>
    <a id="cmdCancel" href="/a01Create/Index" class="btn btn-light">@_f.tra("Zrušit")</a>


</div>

<form id="form1" asp-controller="a01Create" asp-action="Standard" method="POST">
    <input type="hidden" asp-for="@Model.a10ID" />
    <input type="hidden" asp-for="@Model.CloneByPid" />

    <div class="modal_record_container">

        <input type="hidden" asp-for="@Model.ActiveTabIndex" />
        @if (Model.CloneByPid > 0)
        {
            <div>
                <select asp-for="@Model.a46ID" class="form-select" onchange="refresh()">
                    <option value="0">@(_f.tra("Vztah ke zdrojové akci")+": "+Model.RecCloneByPid.a01Signature)</option>
                    <option value="1">@(_f.tra("Závisí na")+": "+Model.RecCloneByPid.a01Signature)</option>
                    <option value="2">@(_f.tra("Je duplikátem")+": "+Model.RecCloneByPid.a01Signature)</option>
                    <option value="3">@(_f.tra("Souvisí s")+": "+Model.RecCloneByPid.a01Signature)</option>
                    <option value="4">@(_f.tra("Je podřízená vůči")+": "+Model.RecCloneByPid.a01Signature)</option>
                </select>

            </div>
        }
        @if (Model.RecA10.a10IsUse_Name)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název akce"):</label>
                <div class="col-sm-3 col-md-3">
                    <input class="form-control" asp-for="Rec.a01Name" />
                    <span asp-validation-for="Rec.a01Name" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.RecA10.a10IsUse_A03)
        {
            <div class="row my-2 my-2" id="divA03">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Instituce"):</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="a03Institution" asp-for="@Model.a03ID" selectedtext="@Model.Institution" filter-flag="1" event_after_changevalue="a03_change"></mycombo>
                </div>
            </div>
        }

        @if (Model.RecA10.a10IsUse_A08)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Téma akce"):</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="a08Theme" asp-for="Rec.a08ID" selectedtext="Rec.a08Name" masterprefix="a10" masterpid="@Model.a10ID" event_after_changevalue="a08_change"></mycombo>
                </div>
            </div>
        }

        @if (Model.RecA10.a10IsUse_CaseCode)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Spis"):</label>
                <div class="col-sm-3 col-md-3">
                    <input class="form-control" asp-for="Rec.a01CaseCode" />
                    <span asp-validation-for="Rec.a01CaseCode" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.RecA10.a10IsUse_Period)
        {
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Plánovaný začátek"):</label>
                <div class="col-sm-2 col-md-2">
                    <mydate asp-for="@Model.Rec.a01DateFrom"></mydate>
                </div>
                <div class="col-sm-1 col-md-1">
                    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Konec"):</label>

                </div>
                <div class="col-sm-2 col-md-2">
                    <mydate asp-for="@Model.Rec.a01DateUntil"></mydate>
                </div>
            </div>
        }



    </div>

    <div class="tabs_container_record">
        <!-- Tab panes -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item onetab" role="presentation">
                <a id="link_tab1" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab1" tabindex="-1">@_f.tra("Formuláře")</a>
            </li>
            <li class="nav-item onetab" role="presentation" id="liTab2">
                <a id="link_tab2" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab2" tabindex="-1">@_f.tra("Okruh účastníků")</a>
            </li>
            <li class="nav-item onetab" role="presentation">
                <a id="link_tab3" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab3" tabindex="-1">@_f.tra("Podrobný popis")</a>
            </li>

        </ul>
    </div>

    <div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1" role="tabpanel" style="max-width:1300px;padding-left:20px;">
                <p></p>
                <div class="row">

                    <div class="col-6">
                        @if (Model.Rec.a08ID > 0)
                        {
                            <strong>@_f.tra("Dostupné formuláře k tématu"):</strong>
                            @foreach (var c in Model.lisA12)
                            {
                                <div class="row my-2">
                                    <div class="col-sm-9 col-md-9">
                                        @if (c.a12IsRequired)
                                        {
                                            <myval datatype="html" value="@("<span style='color:red;'>"+c.f06Name+"</span>")" tooltip="@_f.tra("Povinný formulářů")" hoverprefix="f06" hoverpid="@c.f06ID"></myval>
                                        }
                                        else
                                        {
                                            <myval value="@c.f06Name" hoverprefix="f06" hoverpid="@c.f06ID"></myval>
                                        }


                                    </div>

                                    <div class="col-sm-2 col-md-2">
                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn-primary" onclick="f06_append(@c.f06ID,1)">→</button>
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton@(c.pid)"></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton@(c.pid)">
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,4)">4</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,5)">5</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,6)">6</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,7)">7</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,8)">8</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,9)">9</a>
                                                <a class="dropdown-item" href="javascript:f06_append(@c.f06ID,10)">10</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            }
                        }
                    </div>
                    <div class="col-6">
                        @if (Model.Rec.a08ID == 0)
                        {
                            <i>@_f.tra("Vyberte téma akce")...</i>
                        }
                        @if (Model.lisA11.Where(p => p.IsTempDeleted == false).Count() > 0)
                        {
                            <strong>@_f.tra("Vybrané formuláře"):</strong>
                            <button type="button" class="btn btn-warning btn-sm" onclick="handle_f06_clear()" style="margin-left:50px;">@_f.tra("Vyčistit")</button>
                        }

                        @for (var i = 0; i < Model.lisA11.Count; i++)
                        {
                            <div class="row" style="@(Model.lisA11[i].CssTempDisplay)">

                                <input type="hidden" asp-for="@Model.lisA11[i].IsTempDeleted" value="@Model.lisA11[i].IsTempDeleted" />
                                <input type="hidden" asp-for="@Model.lisA11[i].f06ID" value="@Model.lisA11[i].f06ID" />
                                <input type="hidden" asp-for="@Model.lisA11[i].f06Name" value="@Model.lisA11[i].f06Name" />
                                <input type="hidden" asp-for="lisA11[i].TempGuid" value="@Model.lisA11[i].TempGuid" />
                                <div class="col-sm-6 col-md-6">
                                    <myval value="@Model.lisA11[i].f06Name" hoverprefix="f06" hoverpid="@Model.lisA11[i].f06ID"></myval>

                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <input type="text" class="form-control" placeholder="Poznámka" asp-for="@Model.lisA11[i].a11Description" value="@Model.lisA11[i].a11Description" />
                                </div>

                                <div class="col-1">
                                    <button type="button" class="btn btn-danger" tabindex="-1" title="Odstranit řádek" onclick="handle_delete_f06('@(Model.lisA11[i].TempGuid)')">x</button>

                                </div>

                            </div>
                        }

                    </div>

                </div>




            </div>
            <div class="tab-pane" id="tab2" role="tabpanel" style="max-width:1070px;padding-left:20px;">
                <p></p>
                <div class="my-2">
                    <mycombo entity="j02Person" asp-for="@Model.SelectedJ02ID" selectedtext="@Model.SelectedPerson" filter-flag="1" placeholder="@_f.tra("Přidat jméno")..." event_after_changevalue="handle_j02id_append" myqueryinline="@Model.MyQueryInlineComboJ02"></mycombo>


                </div>
                <input type="hidden" asp-for="@Model.MyQueryInlineComboJ02" value="@Model.MyQueryInlineComboJ02" />
                <select asp-for="@Model.MasterPrefixComboJ02" onchange="handle_queryj02byprefix_change()">
                    <option value="a04">@_f.tra("Pouze můj inspektorát")</option>
                    <option value="a05">@_f.tra("Pouze můj kraj")</option>
                    @if (_f.CurrentUser.j04RelationFlag == BO.j04RelationFlagEnum.NoRelation)
                    {
                        <option value="all">@_f.tra("Všechny kraje")</option>
                    }

                    <option value="j02IsInvitedPerson">@_f.tra("Přizvané osoby")</option>
                </select>
                <p></p>

                @for (var i = 0; i < Model.lisA41.Count; i++)
                {
                    <div class="row rowvalhover" style="@(Model.lisA41[i].CssTempDisplay)">
                        <input type="hidden" asp-for="@Model.lisA41[i].a41ID" value="@Model.lisA41[i].a41ID" />
                        <input type="hidden" asp-for="@Model.lisA41[i].IsTempDeleted" value="@Model.lisA41[i].IsTempDeleted" />
                        <input type="hidden" asp-for="@Model.lisA41[i].j02ID" value="@Model.lisA41[i].j02ID" />
                        <input type="hidden" asp-for="@Model.lisA41[i].PersonCombo" value="@Model.lisA41[i].PersonCombo" />


                        <input type="hidden" asp-for="@Model.lisA41[i].a45IsManual" value="@Model.lisA41[i].a45IsManual" />

                        <input type="hidden" asp-for="lisA41[i].TempGuid" value="@Model.lisA41[i].TempGuid" />
                        <div class="col-sm-4 col-md-4">
                            <myval value="@Model.lisA41[i].PersonCombo" hoverprefix="j02" hoverpid="@Model.lisA41[i].j02ID"></myval>


                        </div>

                        <div class="col-sm-4 col-md-4">
                            @if (Model.lisA41[i].a45IsManual)
                            {
                                <mycombo entity="a45EventRole" asp-for="@Model.lisA41[i].a45ID" selectedtext="@Model.lisA41[i].a45Name" placeholder="@_f.tra("Vybrat roli v akci")..." view-flag="2" myqueryinline="a45ismanual@bool@1"></mycombo>
                            }
                            else
                            {
                                <span class="val-readonly">@Model.lisA41[i].a45Name</span>
                                <input type="hidden" asp-for="@Model.lisA41[i].a45ID" value="@Model.lisA41[i].a45ID" />
                                <input type="hidden" asp-for="@Model.lisA41[i].a45Name" value="@Model.lisA41[i].a45Name" />
                            }

                        </div>


                        <div class="col-1">
                            <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_j02('@(Model.lisA41[i].TempGuid)')">x</button>

                        </div>

                    </div>
                }


            </div>
            <div class="tab-pane" id="tab3" role="tabpanel" style="max-width:1000px;padding-left:20px;">
                <div class="row my-2">
                    <textarea asp-for="Rec.a01Description" class="form-control" style="height:150px;" placeholder="@_f.tra("Podrobný popis")"></textarea>

                    <span asp-validation-for="Rec.a01Description" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {
        @if (Model.a46ID == 4)
        {
        <text>
        $("#divA03").css("display", "none");
        $("#liTab2").css("display", "none");
        $("#tab2").css("display", "none");
        </text>
        }

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();


        });

        $("#tab@(Model.ActiveTabIndex)").attr("class", "tab-pane active");

            $("#link_tab@(Model.ActiveTabIndex)").attr("class", "nav-link active");

            $('a[data-bs-toggle="tab"]').on("shown.bs.tab", function (e) {
                // v e.target.id je id kliknutá záložka
                var tabindex = e.target.id.substring(e.target.id.length - 1, e.target.id.length);
                $("#ActiveTabIndex").val(tabindex);
            })


    });


    function f06_append(f06id,krat) {
        form1.action = "/a01Create/Standard?oper=f06_add&f06id="+f06id+"&krat="+krat;
        form1.submit();
    }
    function handle_delete_f06(guid) {
        form1.action = "/a01Create/Standard?oper=f06_delete&guid=" + guid;
        form1.submit();

    }
    function handle_f06_clear() {
        form1.action = "/a01Create/Standard?oper=f06_clear";
        form1.submit();
    }

    function a03_change(a03id) {

    }
    function a08_change(a08id) {
        form1.action = "/a01Create/Standard?oper=a08_change";
        form1.submit();
    }
    function handle_j02id_append(j02id) {
        if (j02id == "") {
            _notify_message("@_f.tra("Musíte vybrat osobu.")");
            return;
        }
        form1.action = "/a01Create/Standard?oper=j02_add";
        form1.submit();

    }
    function handle_delete_j02(guid) {
        form1.action = "/a01Create/Standard?oper=j02_delete&guid=" + guid;
        form1.submit();

    }
    function handle_queryj02byprefix_change() {
        refresh();
    }

    function refresh() {
        form1.action = "/a01Create/Standard?oper=postback";
        form1.submit();
    }

    function j02_change(j02id) {

    }
</script>




