@model UI.Models.Record.a29Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Pojmenovaný seznam institucí");
}
@addTagHelper *, UI

<script src="~/lib/selection/ds.min.js"></script>

<input type="hidden" id="hidA03IDs" asp-for="@Model.a03IDs" />

<div class="modal_record_container">
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.a29Name" />
            <span asp-validation-for="Rec.a29Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row my-2">
        <textarea asp-for="Rec.a29Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
        <span asp-validation-for="Rec.a29Description" class="text-danger"></span>
    </div>



    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat do seznamu"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a03Institution" asp-for="@Model.SelectedA03ID" selectedtext="@Model.SelectedInstitution" filter-flag="1" placeholder="@_f.tra("Vybrat instituci")..." event_after_changevalue="handle_a03id_append"></mycombo>
        </div>

    </div>
    <button type="button" id="cmdGrid" class="btn btn-secondary btn-sm" onclick="multiselect()">@_f.tra("Přidat hromadně přes Grid")</button>
</div>

<div id="divA03" style="margin-top:20px;margin-bottom:20px;"></div>
<button type="button" id="cmdClear" class="btn btn-warning btn-sm" style="display:none;" onclick="clear_all()">@_f.tra("Vyčistit vše")</button>

<script type="text/javascript">
    $(document).ready(function () {

        if ($("#hidA03IDs").val() != "") {
            refresh_a03_table();
        }

    });

    function handle_a03id_append(a03id) {
        if (a03id == "") {
            _notify_message("@_f.tra("Musíte vybrat instituci.")");
            return;
        }
        var a03ids = [];
        if ($("#hidA03IDs").val() != "") a03ids = $("#hidA03IDs").val().split(",");
        if (a03ids.includes(a03id)) {
            _notify_message("@_f.tra("Tato instituce již je v seznamu.")", "info");
            return;
        }
        a03ids.push(a03id);
        $("#hidA03IDs").val(a03ids.join(","));
        refresh_a03_table();

    }
    function handle_a03id_delete(a03id) {
        var a03ids = [];
        a03ids = $("#hidA03IDs").val().split(",");
        var x = a03ids.indexOf(a03id.toString());
        a03ids.splice(x, 1);

        $("#hidA03IDs").val(a03ids.join(","));
        refresh_a03_table();
        _toolbar_warn2save_changes();

    }

    function handle_a05id_append(a05id) {
        if (a05id == "") {
            _notify_message("Musíte vybrat kraj.");
            return;
        }
        var a03ids = [];
        if ($("#hidA03IDs").val() != "") a03ids = $("#hidA03IDs").val().split(",");

        $.post("/a29/Geta03idsByRegion", { a05id: a05id }, function (data) {
            a03ids.push(data);
            $("#hidA03IDs").val(a03ids.join(","));
            refresh_a03_table();
        });




    }

    function refresh_a03_table() {
        var url = "@Url.Action("GetWorkTable", "Common")";
        var pids = $("#hidA03IDs").val();

        if (pids == "") {
            $("#divA03").html("");
            $("#cmdClear").css("display", "none");
            return;
        }
        $.post(url, { entity: "a03Institution", tableid: "tabA03IDs", pids: pids, delete_function: "handle_a03id_delete",selectable:true }, function (data) {
            $("#divA03").html(data);
            $("#cmdClear").css("display", "block");

            $("#tabA03IDs td").each(function () {
                $(this).addClass("no_clipboard");
            });

            worktable_setup_selectable("divA03");
        });
    }

    function clear_all() {
        $("#hidA03IDs").val("");
        refresh_a03_table();
        _toolbar_warn2save_changes();
    }

    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=a03");
    }


    function worktable_setup_selectable(containerID) {

        var ds1 = new DragSelect({
            selectables: document.getElementsByClassName("can-select"), // node/nodes that can be selected. This is also optional, you could just add them later with .addSelectables.
            selectedClass: "selcell",
            area: document.getElementById(containerID), // area in which you can drag. If not provided it will be the whole document.
            customStyles: false,  // If set to true, no styles (except for position absolute) will be applied by default.
            multiSelectKeys: ['ctrlKey', 'shiftKey', 'metaKey'],  // special keys that allow multiselection.
            multiSelectMode: false,  // If set to true, the multiselection behavior will be turned on by default without the need of modifier keys. Default: false
            autoScrollSpeed: 20,  // Speed in which the area scrolls while selecting (if available). Unit is pixel per movement. Set to 0 to disable autoscrolling. Default = 1
            onDragStart: function (element) { }, // fired when the user clicks in the area. This callback gets the event object. Executed after DragSelect function code ran, befor the setup of event listeners.
            onDragMove: function (element) { }, // fired when the user drags. This callback gets the event object. Executed before DragSelect function code ran, after getting the current mouse position.
            onElementSelect: function (element) { }, // fired every time an element is selected. (element) = just selected node
            onElementUnselect: function (element) { }, // fired every time an element is de-selected. (element) = just de-selected node.
            callback: function (elements) {
                // fired once the user releases the mouse. (elements) = selected nodes.

                if (elements.length > 0) {
                    var _rowids = [];

                    for (i = 0; i < elements.length; i++) {
                        var rowid = $(elements[i]).attr("data-v");

                        _rowids.push(rowid);

                    }


                }

            }



        });
    }

</script>



