@model UI.Models.Record.a29Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Pojmenovaný seznam institucí");
}
@addTagHelper *, UI


<input type="hidden" id="hidA03IDs" asp-for="@Model.a03IDs" />

<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.a29Name" />
            <span asp-validation-for="Rec.a29Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <textarea asp-for="Rec.a29Description" class="form-control" placeholder="@_f.tra("Poznámka")"></textarea>
        <span asp-validation-for="Rec.a29Description" class="text-danger"></span>
    </div>



    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat do seznamu"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="a03Institution" asp-for="@Model.SelectedA03ID" selectedtext="@Model.SelectedInstitution" filter-flag="1" placeholder="@_f.tra("Vybrat instituci")..." event_after_changevalue="handle_a03id_append"></mycombo>
        </div>

    </div>
    <button type="button" id="cmdGrid" class="btn btn-secondary btn-sm" onclick="multiselect()">@_f.tra("Přidat hromadně přes Grid")</button>

    <button type="button" id="cmdRemoveSelected" class="btn btn-warning btn-sm" onclick="handle_remove_selected()">@_f.tra("Odebrat vybrané")</button>
    <button type="button" id="cmdClear" class="btn btn-danger btn-sm" onclick="clear_all()">@_f.tra("Odebrat vše")</button>
    <button type="button" id="cmdRemoveClosed" class="btn btn-danger btn-sm" onclick="handle_remove_closed()">@_f.tra("Odebrat neplatné")</button>
</div>




<vc:the-grid input="@Model.gridinput"></vc:the-grid>

<script type="text/javascript">
    $(document).ready(function () {

        tg_adjust_for_screen();

    });

    function handle_a03id_append(a03id) {
        if (a03id == "") {
            _notify_message("@_f.tra("Musíte vybrat instituci.")");
            return;
        }
        var a03ids = [];
        if ($("#hidA03IDs").val() != "") a03ids = $("#hidA03IDs").val().split(",");
        if (a03ids.includes(a03id)) {
            _notify_message("@_f.tra("Tato instituce již je v seznamu.")", "info");
            return;
        }
        a03ids.push(a03id);
        $("#hidA03IDs").val(a03ids.join(","));
        postback();

    }
    

    function handle_a05id_append(a05id) {
        if (a05id == "") {
            _notify_message("Musíte vybrat kraj.");
            return;
        }
        var a03ids = [];
        if ($("#hidA03IDs").val() != "") a03ids = $("#hidA03IDs").val().split(",");

        $.post("/a29/Geta03idsByRegion", { a05id: a05id }, function (data) {
            a03ids.push(data);
            $("#hidA03IDs").val(a03ids.join(","));
            postback();
        });




    }

    function postback() {
        form1.action = "/a29/Record?oper=postback";
        form1.submit();
    }

    function hardrefresh(pid, flag) {
        postback();
    }

    function clear_all() {
        $("#hidA03IDs").val("");
        postback();
    }

    function handle_remove_selected() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message(_tg_musite_vybrat_zaznam);
            return;
        }
        var selids = [];
        var allids = [];
        allids = $("#hidA03IDs").val().split(",");
        selids = pids.split(",");

        var x = -1;

        for (i = 0; i < selids.length; i++) {
            x = allids.indexOf(selids[i].toString());
            allids.splice(x, 1);
        }        

        $("#hidA03IDs").val(allids.join(","));
        postback()

    }

    function handle_remove_closed() {
        $.post("/a42/RemoveClosed", { a03ids: $("#hidA03IDs").val() }, function (data) {
            $("#hidA03IDs").val(data);
            postback();
        });

    }

    function multiselect() {
        _window_open("/Record/GridMultiSelect?prefix=a03");
    }




</script>



