@model UIFT.Models.IOtazka
@inject AppConfiguration AppConfig
@inject UIFT.Repository.RepositoryFactory factory
@{
    string odpoved = Model.VyplneneOdpovedi.Count > 0 ? Model.VyplneneOdpovedi[0].Value : "";
    var rep = factory.Get();

}
<select name="Answer_@(Model.PID)" id="Answer_@(Model.PID)" data-answer='{ "state":1,"f21id":@Model.Odpovedi[0].pid }' @(Model.ReadOnly ? "disabled=disabled" : "")>
    <option value="">@rep.BL.tra("Nevyplněno")</option>
    @if (odpoved == AppConfig.FT_CheckboxAnswerTrueValue)
    {
        <option value="@AppConfig.FT_CheckboxAnswerTrueValue" selected>@rep.BL.tra("Ano")</option>
    }
    else
    {
        <option value="@AppConfig.FT_CheckboxAnswerTrueValue">@rep.BL.tra("Ano")</option>
    }
    @if (odpoved == AppConfig.FT_CheckboxAnswerFalseValue)
    {
        <option value="@AppConfig.FT_CheckboxAnswerFalseValue" selected>@rep.BL.tra("Ne")</option>
    }
    else
    {
        <option value="@AppConfig.FT_CheckboxAnswerFalseValue">@rep.BL.tra("Ne")</option>
    }
</select>